<%= link_to company_order_path(order), class: 'list-group-item list-group-item-info border' do %>
<p class="list-group-item-heading text-center"><%=  order.title %> <%= order.pay_range %>
<span class='badge badge-danger pull-left'><%= order.needed_by.stamp('11/13') %></span>
</span></p>

 
<% end %>
 

    
 

	
	
	

