<div class="nested-fields form-inline">
  <div class='form-group'>
       <%= f.input :name, label: false, placeholder: "Type # for suggestions", input_html: {data: { behavior: "autocomplete_skills" }}, wrapper_html: {class: ''} %>
  </div>
  <div class='form-group'>
       <%= f.input :required, inline_label: 'Is this a requirement?', wrapper_html: {class: ''}, input_html: {class: 'form-inline'}   %>
  </div>
  <div class='links'><%= link_to_remove_association "<span><i class='fa fa-trash fa-fw'></i> </span>".html_safe, f, class: 'red' %></div>
</div>
