<div class="col-md-12 mainpage">
    <h1>Editing Order</h1>
    <div class="well">
        <%= render 'form' %>
    </div>
    <%= link_to 'Show', company_order_path(@order) %> |
    <%= link_to 'Back', company_orders_path(@company) %>
</div>