<div class='col-md-6'>
    <dl>
        <dt>Can data be imported directly into IncluStaff?</dt>
        <dd>
            When you are initially creating your database, you can send us the information you would like to be imported and we will send you 
            completed database back to you within an hour. We are able to import employee lists, previous clock in/out times, employee information, 
            accruals, and departments. 
            Currently there is no way for an end user to import data, but that feature may be added in the future.
        </dd>
    </dl>
    
</div>
