<div class="col-md-4 ">
    <%= image_tag("map32.png", class: 'front-icon') %>
     <h2 class='metal text-center'>Time Tracking</h2>
     
    <ul class='fa-ul bold'>
     <li><i class="fa-li fa fa-check-square"></i> Mobile or On-Site Time Clock  </li>
     <li><i class="fa-li fa fa-check-square"></i> GPS location tracking  </li>
     <li><i class="fa-li fa fa-lock fa-lg"></i> Password Protected  </li>
    </ul>
</div>
<div class="col-md-4 ">
     <%= image_tag("verification5.png", class: 'front-icon') %>
    <h2 class='metal text-center'>ACA Tracking & Compliance</h2>
    <ul class='fa-ul bold'>
     <li><i class="fa-li fa fa-check-square"></i> Mobile or On-Site Time Clock  </li>
     <li><i class="fa-li fa fa-check-square"></i> Get personalized job recommendations.  </li>
     <li><i class="fa-li fa fa-check-square"></i> Communicate directly with recruiters.  </li>
    </ul>
    
</div>
<div class="col-md-4 ">
     <%= image_tag("achievement1.png", class: 'front-icon') %>
     
    <h2 class='metal text-center'>Highlight your Top Performers</h2>
    <ul class='fa-ul bold'>
     <li><i class="fa-li fa fa-check-square"></i> Mobile or On-Site Time Clock  </li>
     <li><i class="fa-li fa fa-check-square"></i> Get personalized job recommendations.  </li>
     <li><i class="fa-li fa fa-check-square"></i> Communicate directly with recruiters.  </li>
    </ul>
    
</div>

  
