
   
        <div class="col-md-3 dark">
             <h2 class='text-center'>Track Hours from Any Location</h2>
             <p><strong>Missing hours & mistakes are expensive. </strong><br>
            No you can track all of your employees' hours in real-time, no matter
            their job assignment or location.</p>
        </div>
        <div class="col-md-3 dark">
            <h2 class='text-center'>ACA Tracking & Compliance</h2>
            <p>
            <strong>ACA tracking can be tricky</strong><br>
            Easily determine an employee's status at any given time and can notify you when they become eligible for coverage.
            </p>
        </div>
        <div class="col-md-3 dark ">
      
            <h2 class='text-center'>Highlight your Top Performers</h2>
            <p><strong>Idenify your all-stars!</strong><br>
            Quickly and easily view bill & fill rates, placement numbers and commission comparisons.
            
            </p>
        </div>
        <div class="col-md-3 dark ">
      
                 <h2 class='text-center'>Customizable Agency Portals</h2>
            <p><strong>You choose your subdomain.</strong><br>
         
            This allows you to connect all aspects of your business under your branded dashboard with professionalism and ease.
            </p>
            
        </div>
  
