

        <div class="col-md-4 dark">
             <h2 class='text-center'>Track Hours from Any Location</h2>
             <p class='text-center'><strong>Missing hours are expensive. </strong></p>
             <p>
            Eliminate the extra expense of additional payrolls fees  by tracking
            all of your employees' hours in real-time.</p>
        </div>
        <div class="col-md-4 dark">
            <h2 class='text-center'>ACA Tracking & Compliance</h2>
            <p  class='text-center'><strong>ACA tracking can be tricky</strong></p>
            <p>
            
            Easily determine an employee's status at any given time and can notify you when they become eligible for coverage.
            </p>
        </div>
        <div class="col-md-4 dark ">
      
            <h2 class='text-center'>Highlight your Top Performers</h2>
            <p class='text-center'><strong>Idenify your all-stars!</strong></p>
             <p>Quickly and easily view bill & fill rates, placement numbers and commission comparisons.
            
            </p>
        </div>

  
