<div class='row'>
        <div class="col-md-4">
        <div class='dark'>
             <h2 class='text-center'>Track Hours from Any Location</h2>
            <%= image_tag("http://ldssmile.com/wp-content/uploads/2014/01/four-business-people-watching-clock-time-for-social-media.jpg", class: 'feature-pic') %>
          
                 <h5 class='text-center'> No more paper timecards! </h5>
                    <p>Most agencies rely on the employee and client to record time </p>
                    
                    <p>This is a nightmare for your payroll staff who spend days collecting time sheets in
                    many different formats via fax, email, carrier pigeon- you name it!</p>
                    
                    <ul class="fa-ul">
                      <li><i class="fa-li fa fa-arrow-right"></i>If it can connect to the internet, it can be a timeclock.</li>
                      <li><i class="fa-li fa fa-arrow-right"></i>Choose to upload Excel/CSV or connect directly to your existing database.</li>
                      <li><i class="fa-li fa fa-arrow-right"></i>Cut your processing time in HALF!</li>
                      
                    </ul>
            </div>
        </div>
      <div class="col-md-4">
            <div class='dark'>
                <h2 class='text-center'>Monitor ACA Compliance</h2>
          <%= image_tag("http://cdn2.hubspot.net/hub/219533/hubfs/uscybervault/ID-100314794.jpg?t=1440774938432&width=400&height=272&t=1441042923377", class: 'feature-pic') %>
            
                
                <h5 class='text-center'>Monitor ACA Compliance</h5>
                    <p>IncluStaff allows you to </p>
                    <p>Potential to over/under pay your employees which can be very harmful to your reputation and your bottom line</p>
                   <ul class="fa-ul">
                      <li><i class="fa-li fa fa-arrow-right"></i>If it can connect to the internet, it can be a timeclock.</li>
                      <li><i class="fa-li fa fa-arrow-right"></i>Choose to upload Excel/CSV or connect directly to your existing database.</li>
                      <li><i class="fa-li fa fa-arrow-right"></i>Cut your processing time in HALF!</li>
                      
                    </ul>
            </div>
        </div>
        <div class="col-md-4">
           
            <div class='dark'>
                 <h2 class='text-center'>Highlight your Top Performers</h2>
                <%= image_tag("http://www.680news.com/wp-content/blogs.dir/sites/2/2013/10/business-expansion-stock.jpg", class: 'feature-pic') %>
         
             
             <h5 class='text-center'>Quickly identify your All-Stars!</h5>
                
      
            <p>Easily view bill & fill rates for your entire team with a single click.</p>
            <p>Potential to over/under pay your employees which can be very harmful to your reputation and your bottom line
</p>
                    <ul class="fa-ul">
                      <li><i class="fa-li fa fa-arrow-right"></i>If it can connect to the internet, it can be a timeclock.</li>
                      <li><i class="fa-li fa fa-arrow-right"></i>Choose to upload Excel/CSV or connect directly to your existing database.</li>
                      <li><i class="fa-li fa fa-arrow-right"></i>Cut your processing time in HALF!</li>
                      
                    </ul>
            </div>
        </div>
   </div>