<div class="panel-group black" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingPayroll">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePayroll" aria-expanded="false" aria-controls="collapsePayroll">
          Your Payroll Team
        </a>
      </h4>
    </div>
    <div id="collapsePayroll" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayroll">
      <div class="panel-body">
    
       <h5 class=''> 
           <i class="fa fa-check-circle"></i><strong> How efficient is your current method if collecting time? </strong>
        </h5>
       
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-question-circle"> </i>Does your payroll team spend hours or even days organizing paper timesheets?</li>
                <br>
                <li><i class="fa-li fa fa-question-circle"></i> Are hours submitted in multiple ways <small>(fax, email, phone, morse code)</small>?</li>
                <br>
                <li><i class="fa-li fa fa-question-circle"></i> Do you ever have missing hours on payroll day?</li>
            </ul>
  
            <h5 class=''> 
           <i class="fa fa-question-circle fa-fw"></i><strong> How can IncluStaff help?</strong>
        </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-arrow-right"> </i>Track all of your employees' hours, no matter their job assignment</li>
                <br>
                <li><i class="fa-li fa fa-arrow-right"></i>Timesheets are automatically created and available to you in real-time</li>
                <br>
                <li><i class="fa-li fa fa-arrow-right"></i>Streamline timesheet approval, set custom notifications, reminders and auto-approvals</li>
            </ul>
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Your Sales Team
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p class='lead'>Getting a “yes” from a company is only half the battle.</p>
        <p>No more paper and manual input to slow you down. Gaining a competitive advantage by having the order
            immediately visible to your recruiters and candidates is key to a quick fill rate- and increased revenue!
      <br>
            From the company’s lips to your recruiters ears…IncluStaff provides a way for your client to easily add a 
            job order to your system. Why would they even think about calling a competitor and waiting for an order to be
            processed when your company makes it so easy?
        </p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Your Recruiting Team
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
     <div class="panel-body">
        <p class='lead'>Connect with qualified candidates easier</p>
        <p>Candidates can apply directly to any open job order with one click. This immediately 
        lets the recruiter know there is interest in the position. With easy keyword and hashtag matching,
        much of the work is already done.
        </p>
        <p>Searching the candidate database has never been easier. IncluStaff makes the match-ups for you to get
        the recruiter off to a quick start in filling the position before the competition has the chance to perform 
        their first manual search! </p>
        <p>   Gone are the days of calling your client to make sure that the candidate showed up for their shift.
        Recruiters can see the time cards of all of their candidates so they can track attendance and punctuality in real time.
        <strong>This frees up their time to do the work they really need to do-filling the orders!</strong>
</p>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Your Customers
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      <p class='lead'>We make things easy for them too! </p>
        <p>Companies can see all agency employees assigned to them, see who is on the clock at a glance,
        manage approaching overtime and view invoice information. 
        Most importantly, companies can place job orders that are immediately visible to recruiters and candidates! 
        </p>
            <strong>Instant job orders = Instant revenue</strong>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Your Employees
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
      <p class='lead'>Employee self-serve frees up staff time and increases agency’s professionalism</p>
        <p>Gone are the calls about how many hours an employee worked or how much vacation time they have available. 
        IncluStaff allows employees to view their profiles, check vacation balances, get time card info as well as any contact info 
        they would need for both the company and the agency.

        </p>
        <p>This self serve feature promotes the agency’s employer brand by giving the employee the info they need when they need it.
Payroll staff can concentrate on their jobs without interruption of streams of employee phone calls</p>
           
      </div>
    </div>
  </div>
  
  
</div>