
<div class='col-md-6'>
    <%= image_tag("businessman99.png", class: 'front-icon') %>
     <p class='lead'>From the company’s lips to your recruiters ears…IncluStaff provides
      a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
      </p>
  <p class='lead'>
        No more paper waiting for manual data entry gives your team the competitive advantage
by having the order immediately visible to your recruiters & candidates.
Immediate action is key to a quick fill - and increased revenue!
  </p>
</div>