<%= image_tag("office21.png", class: 'front-icon') %>
<div class="col-md-6 list-group metal main-div" >
  <div class='list-group-item list-group-item-danger'>
    <div class=""> 
      <p class='lead'>Are hours submitted in multiple ways?</p> 
    </div>
  </div>
  <div class='list-group-item list-group-item-danger'>
    <div class=""> 
      <p class='lead'>Are you still dealing with paper timesheets? </p>
    </div>
  </div>
  <div class='list-group-item list-group-item-danger'>
    <div class=""> 
      <p class='lead'>Do you ever have missing hours on payroll day?</p> 
    </div>
  </div>
 
</div>

<div class="col-md-6 list-group metal main-div" >
  <div class='list-group-item list-group-item-success'>
    <div class="">  
      <p class='lead'>View all timesheets in real-time</p>
    </div>
  </div>
  <div class='list-group-item list-group-item-success'>
    <div class=""> 
      <p class='lead'>Streamline approvals, set notifications & reminders</p>
    </div>
  </div>
  <div class='list-group-item list-group-item-success'>
    <div class="">  
      <p class='lead'>Track all of your employees' hours, on any job assignment</p>
    </div>
  </div>
</div>