
<div class="col-md-12" >
   <div class='col-md-6'>
     <%= image_tag("employee.png", class: 'front-icon') %>
      <ul class='fa-ul'>
        <li><i class="fa-li fa fa-check-square"></i> Are hours submitted in multiple ways?</li> 
        <li><i class="fa-li fa fa-check-square"></i> Are you still dealing with paper timesheets? </li>
        <li><i class="fa-li fa fa-check-square"></i> Do you ever have missing hours on payroll day?</li> 
      </ul>
   </div>
  <div class='col-md-6'>
      <%= image_tag("financial.png", class: 'front-icon') %>
    <ul class='fa-ul'>
      <li><i class="fa-li fa fa-check-square"></i> View all timesheets in real-time</li>
      <li><i class="fa-li fa fa-check-square"></i> Streamline approvals, set notifications & reminders</li>
      <li><i class="fa-li fa fa-check-square"></i> Track all of your employees' hours, on any job assignment</li>
    </ul>      
  </div>
</div>