<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a class="btn btn-primary " data-toggle="modal" data-target="#myModal">
      Request Demo
    </a>
  </div>
  <div class="btn-group" role="group">
    <%= link_to "About Us", about_path, class: 'btn btn-primary ' %>
  </div>

  <div class="btn-group" role="group">
    <%= link_to "Contact Us", contact_path, class: 'btn btn-primary ' %>
  </div>
</div>