
<div class="col-md-6 ">
<%= image_tag("candidates.png", class: 'front-icon') %>
    <h2 class='metal text-center'> Make Quality Placements...Faster!</h2>
    <ul class='fa-ul'>
        <li><i class="fa-li fa fa-check-square"></i> Automatically identifies matching candidates  </li>
        <li><i class="fa-li fa fa-check-square"></i> New Job Order alerts on any device  </li>
        <li><i class="fa-li fa fa-check-square"></i> Communicate directly with account managers & candidates.  </li>
    </ul>
<%= image_tag("business103.png", class: 'front-icon') %>
    <h2 class='metal text-center'>Connect with qualified candidates easier</h2>
<p>
    Candidates can apply directly to any open job order with one click. This immediately lets the recruiter know there is interest in the position. With easy keyword and hashtag matching, much of the work is already done.

Searching the candidate database has never been easier. IncluStaff makes the match-ups for you to get the recruiter off to a quick start in filling the position before the competition has the chance to perform their first manual search!

</p>  
    


<p>
    Gone are the days of calling your client to make
sure that the candidate showed up for their shift. <br>
Recruiters can see the time cards of all of their
candidates so they can track attendance and punctuality in real time. This frees up their time to do the work they really
need to do-filling the orders!
</p>
</div>
