<div class='panel'>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation"><a href="#sales" aria-controls="sales" role="tab" data-toggle="tab">Sales</a></li>
    <li role="presentation"><a href="#recruiting" aria-controls="recruiting" role="tab" data-toggle="tab">Recruiting</a></li>
    <li role="presentation"><a href="#payroll" aria-controls="payroll" role="tab" data-toggle="tab">Payrolll</a></li>
    <li role="presentation"><a href="#aca" aria-controls="aca" role="tab" data-toggle="tab">ACA Compliance</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="overview">
      <h2 class=' bold metal '>From the first punch to the final invoice...IncluStaff does it all.</h2>
      <%= render 'front_info' %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="sales">
      <h1>Sales</h1>
      <h3 class='text-center'>Easily enter job orders from anywhere</h3> 
      <p class='lead'>From the company’s lips to your recruiters ears…IncluStaff provides
      a way for your client to easily add a job order to your system. Why would they even think about calling a competitor and waiting for an order to be processed when your company makes it so easy?
      </p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="recruiting">
      <h1> Recruiting</h1>
      <%= image_tag("achievement1.png", class: 'front-icon') %>
      <p class='lead '>Identify your all-stars!</p>
      <p>Quickly and easily view bill & fill rates, placement numbers and commission comparisons.    </p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="payroll">
      <h1>Payroll</h1>
      <p class='lead '>Missing hours are expensive. </p>
      <p>Eliminate the extra expense of additional payrolls fees  by tracking all of your employees' hours in real-time.</p>
      <%= render 'payroll' %>
    </div>
    
    <div role="tabpanel" class="tab-pane fade" id="aca">
      <h1>ACA Compliance</h1>
      <p  class='lead'>ACA tracking can be tricky</p>
      <p>Easily determine an employee's status at any given time and can notify you when they become eligible for coverage.   </p>
      <%= render 'aca_tip1' %>
    </div>
  </div>

</div>