<div class='col-md-12 dark'>
    <%= render 'quick_nav' %>
    <div class='center'>
        <%= image_tag("inclustaff_flowchart.png", width: "500", class: "img-zoom", alt: "flowchart")%> 

    </div>
  

</div>