 <h1>Contact Us</h1>
<div class='col-md-12'>
   
    <h2 class='text-center page-header'>
        We'd love to hear from you!!
    </h2>
    <div class='col-md-6 lightbox'>
       <div class='box text-center'>
            <%= image_tag("email29.png", class: 'feature-icon') %>
            <h3>
            support@inclustaff.com</h3>
        </div>
    </div>
    <div class='col-md-6 lightbox'>
        <div class='box text-center'>
            <%= image_tag("phone41.png", class: 'feature-icon') %>
            <h3>
            440-225-9939</h3>
        </div>
    </div>
   
</div>