 <h1>Contact Us</h1>
<div class='col-md-12'>
   
    <h2 class='text-center page-header'>
        We'd love to hear from you!!
    </h2>
    <div class='col-md-5'>
       <div class='box text-center'>
            <%= image_tag("email29.png", class: 'feature-icon') %>
            <h3>
            support@inclustaff.com</h3>
        </div>
    </div>
    <div class='col-md-2'></div>
    <div class='col-md-5'>
        <div class='box text-center'>
            <%= image_tag("phone41.png", class: 'feature-icon') %>
            <h3>
            440-225-9939</h3>
        </div>
    </div>
    <div class='col-md-12'>
        <div class='box text-center'>
            <i class='fa fa-home fa-3x black'></i>
            <h3>
            151 Innovation Dr.<br>
            Elyria, Ohio 44035</h3>
        </div>
    </div>
   
</div>