<div class='col-md-12 lighterbox'>
    <h1>Contact Us</h1>
    <div class='col-md-4'>
        <%= image_tag("macbook.jpg", class: 'fill-pic') %>
    </div>
    <div class='col-md-4'>
        
    </div>
    <div class='col-md-4'>
        
    </div>
</div>