<div class='col-md-12 metal'>
    <div class='page-header'>
        <h1>Features</h1>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("money192.png", class: 'bullet-icon') %>
        </div>
        <h3 class='text-info'>Cut Payroll Time In HALF</h3>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("office21.png", class: 'bullet-icon') %>
        </div>
            <h3 class='text-info'>Eliminate Data Entry</h3>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("work7.png", class: 'bullet-icon') %>
        </div>
            <h3 class='text-info'>Fill Positions Faster</h3>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("businessman267.png", class: 'bullet-icon') %>
        </div>
            <h3 class='text-info'>Mobilize Your Recruiting</h3>
    </div>
</div>


