<div class='col-md-12 lighterbox'>
    <div class="col-md-3 ">
        <h4 class='text-center'>Eliminate Data Entry</h4>
         <%= image_tag("office21.png", class: 'front-icon') %>
    </div>
    <div class="col-md-3 ">
        <h4 class='text-center'>Faster Approval = Faster Payment</h4>
         <%= image_tag("money192.png", class: 'front-icon') %>
    </div>
   
    
</div>


