<div class='col-md-12 metal'>
    <div class='page-header'>
        <h1>Features</h1>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("money192.png", class: 'bullet-icon') %>
        </div>
        <h3 class='text-info'>Cut Payroll Time In HALF</h3>
        <p class='lead'>Stop hovering over the fax machine waiting for timesheets to come in.</p>
        <p>Relying on employees to report their own time is just asking for trouble. Inaccurate data and missing hours cost more than you think.
             <strong>IncluStaff allows you to view & manage all timesheets from the second the employee clocks in. </strong>  </p>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("office21.png", class: 'bullet-icon') %>
            
        </div>
            <h3 class='text-info'> Multiple systems cost you money</h3>
            <p class='lead'>How many software systems does your team deal with on a regular basis? </p>
            <p> Inputing candidate data into your ATS, 
            and then having to manually re-enter that same information into a seprate payroll system once they start working wastes time and money.
            <strong>IncluStaff is one system. You'll never have to enter information more than once!</strong></p>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("work7.png", class: 'bullet-icon') %>
        </div>
            <h3 class='text-info'>Fill Positions Faster</h3>
            <p class='lead'>Your customers will love you for it! </p>
            <p>Let your customers submit job requests online, instead of sending an email that you hope doesn't get overlooked.
            <strong>When your customers submit a new job order through IncluStaff, your recruiting team is automatically notified.
            It's that simple.</strong></p>
    </div>
    <div class="col-md-6 lightbox">
        <div class="col-md-3">
            <%= image_tag("businessman267.png", class: 'bullet-icon') %>
        </div>
            <h3 class='text-info'>Mobilize Your Business</h3>
            <p class='lead'>Awesome for On-Sites & Job Fairs! </p>
            <p>Get the most out of every job fair or networking event. Meet someone new that could use your services right now? Send the job order
            right from your phone so your team can get working on it right away!
            <strong>Being able to provide that level of service to your customers is priceless.</strong></p>
    </div>
</div>


