<div class='col-md-12 mainpage shadow'>
    <h1 class='bold bigger text-center page-header'>Features</h1>
    <%= render 'main_features' %>
    <div class='col-md-12 well'>
        <%= image_tag("inclustaff_flowchart.png", class: "screenshot", alt: "flowchart")%> 
    </div>
</div>
