<% if admin_signed_in? %>
    <div class=''>
        <%= render 'dashboard/admin' %>
        <%= link_to "Agency Portal", agency_access_path, class: "btn btn-primary" %>
    </div>
    <% end %>
    
    
    
    

    
    
    
    <!--EMPLOYEE HOME PAGE VIEW-->
    
<% if user_signed_in? && current_user.employee? %>
<%= render 'dashboard/employee' %>


<% end %>











<% if current_user.nil? && current_admin.nil? %>
            <div class="welcome-screen">
                <h1>Welcome to IncluStaff</h1>
                <h3>Simplify the process, optimize your workforce and maximize your profits. </h3>
                <h4 class="pull-center"> From the first punch to the final invoice, IncluStaff does it all.</h4>
                <a class="btn " href="#" role="button">Learn more &raquo;</a>
            </div>
            
            <div class="row">
                
                <div class="col-md-6">
                    <div class="welcome-screen">
                        <h1>Welcome to IncluStaff</h1>
                        <h3>Simplify the process, optimize your workforce and maximize your profits. </h3>
                        <h4 class="pull-center"> From the first punch to the final invoice, IncluStaff does it all.</h4>
                        <a class="btn " href="#" role="button">Learn more &raquo;</a>
                    </div>
                  
                  
                </div>
                <div class="col-md-6">
                    <div class="welcome-screen">
                        <h1>MINIMAL DATA ENTR</h1>
                        <h3>Optimize your workforce by simplifying your workflow. </h3>
                        <h4 class="pull-center">  Easily connect to your existing payroll systems or simply export to Excel.</h4>
                        <a class="btn " href="#" role="button">Learn more &raquo;</a>
                    </div>
                    
                </div>
            </div>
            
            


<% end %>

    


    
    





