<div class='col-md-12'>
    <div id='front-headline' class='col-md-12 text-center metal'>
        <div class=''>
            <h1 class='page-header text-center'>Optimize your workforce & maximize your profits.</h1>
        </div>
        <%= render 'prelaunch' %>
    </div>
    
         
    <div  class='col-md-12'>
        <%= render 'test' %>
        
    </div>
     
</div>
   
   









