<div class='col-md-12 mainpage'>
    <div id='front-headline metal' class='text-center'>
   
        <div class=''>
            <h1 class='page-header bold'>Simplifying the Staffing Industry</h1>
             <h2 class='text-info'>Optimize your workforce & maximize your profits.</h1>
             
        </div>
        <hr>
        <%= render 'prelaunch' %>
    </div>
    
         
    <div  class=''>
       
        
        <%= render 'test' %>
        
    </div>
     
</div>
   









