<div class='col-md-12 lightbox'>
    <div class='page-header'>
        <h1 class='metal'>Optimize your workforce & maximize your profits.</h1>
        
    </div>
    

     <div class='col-md-3 lighterbox'> 
        
     </div>
    <div class='col-md-9 lighterbox'>
         <h2 class='metal bold text-center'>From the first punch to the final invoice...IncluStaff does it all.</h2>
        <ul class='fa-ul'>
            <li><i class='fa-li fa fa-check'></i>Connect your entire business with one system </li>
        </ul>
    
    </div>
     
</div>
     
   
   









