<div class='col-md-12 '>
    <div id='front-headline' data-behavior='element-list' class='text-center'>
        <h1 id='main-title' class='text-center black'>Optimize your workforce & maximize your profits.</h1>
        <div data-behavior='element' class=''>
            <%= @current_agency.try(:name) || "Welcome to IncluStaff" %>
            
        </div>
      
    </div>
    
    

     <div class='col-md-12 autumn-blur'>
        <%= render 'quick_nav' %>
        
         <div class='col-md-4'>
     <h2 class='text-center white'>One solution with benefits for everyone!</h2>
        <%= render 'main_features' %>
    </div>
    <div class='col-md-8'>
        <h2 class='text-center white'>From the first punch to the final invoice, IncluStaff does it all</h2>
        <div id="collapsePayroll" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayroll">
      <div class="panel-body">
    
       <h5 class=''> 
           <i class="fa fa-check-circle"></i><strong> How efficient is your current method if collecting time? </strong>
        </h5>
       
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-question-circle"> </i>Does your payroll team spend hours or even days organizing paper timesheets?</li>
                <br>
                <li><i class="fa-li fa fa-question-circle"></i> Are hours submitted in multiple ways <small>(fax, email, phone, morse code)</small>?</li>
                <br>
                <li><i class="fa-li fa fa-question-circle"></i> Do you ever have missing hours on payroll day?</li>
            </ul>
  
            <h5 class=''> 
           <i class="fa fa-question-circle fa-fw"></i><strong> How can IncluStaff help?</strong>
        </h5>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-arrow-right"> </i>Track all of your employees' hours, no matter their job assignment</li>
                <br>
                <li><i class="fa-li fa fa-arrow-right"></i>Timesheets are automatically created and available to you in real-time</li>
                <br>
                <li><i class="fa-li fa fa-arrow-right"></i>Streamline timesheet approval, set custom notifications, reminders and auto-approvals</li>
            </ul>
        
      </div>
    </div>
     <%= render 'front_info' %>
    </div>
     
   
        
        
     </div>
     
   
   

</div>








