<div class='pad mainpage'>
 <h1 class='text-center'>Simplifying the Staffing Industry</h1>
    <div id='front-headline' class='text-center'>
        <h2 class='text-info'>Optimize your workforce & maximize your profits.</h1>
      <%= render 'prelaunch' %>
    </div>
    <div  class='row'>
      <%= render 'test' %>
    </div>
</div>
