<div class='col-md-12 mainpage'>
 <h1 class='text-center'>Simplifying the Staffing Industry</h1>
  <div class=''>
    <div id='front-headline' class='text-center'>
      <a href='http://demo.inclustaff.com' class='btn btn-success btn-lg'>Play with a Demo Agency</a>
      <div class=''>
        
        <h2 class='text-info'>Optimize your workforce & maximize your profits.</h1>
      </div>

      <%= render 'prelaunch' %>
    </div>

    <div  class=''>
      <%= render 'test' %>
    </div>

  </div>
</div>
