<div class='col-md-12'>
    <div id='front-headline' data-behavior='element-list' class='text-center'>
        <h1 id='main-title' class='text-center black'>Optimize your workforce & maximize your profits.</h1>
        <div data-behavior='element' class=''>
            <%= @current_agency.try(:name) || "Welcome to IncluStaff" %>
            
        </div>
      
    </div>


  
    
    
<%= render 'quick_nav' %>
     <div class='col-md-12 dark'>
        
        
         <div class='col-md-4'>
     <h2 class='text-center white'>One solution with benefits for everyone!</h2>
        <%= render 'main_features' %>
    </div>
    <div class='col-md-8'>
        <h2 class='text-center white'>From the first punch to the final invoice, IncluStaff does it all</h2>
        <br>
     <%= render 'front_info' %>
    </div>
     
   
        
        
     </div>
     
   
   

</div>








