<div class='col-md-12 mainpage'>
    <div class=''>
        <div id='front-headline' class='text-center'>
       <a href='http://www.demo.inclustaff.com' class='hide-this'>Play with a Demo Agency</a>
            <div class=''>
                <h1 class='page-header bold'>Simplifying the Staffing Industry</h1>
                 <h2 class='text-info'>Optimize your workforce & maximize your profits.</h1>
                 
            </div>
           
            <%= render 'prelaunch' %>
        </div>
        
             
        <div  class=''>
           
            
            <%= render 'test' %>
            
        </div>
         
    </div>
</div>

   









