
    <div class='front-headline'>
        <h1 class=''>Optimize your workforce & maximize your profits.</h1>
        
    </div>

<div class='col-md-12 bg-white'>
     <div class='col-md-4'> 
     <h2 class=''>From the first punch to the final invoice, IncluStaff does it all</h2>
     </div>
    <div class='col-md-8 '>
        
    
    </div>
     
    </div>
</div>
     
   
   









