<div class='main-box center'>
	<h1 class='text-center'>Welcome to IncluStaff!</h1>
<div class='col-md-6'>
	
				<%= link_to "<i class='fa fa-user-plus fa-2x fa-fw pull-left'></i> Employee Registration".html_safe, new_user_registration_path, class: 'btn btn-primary btn-lg fill' %>
<hr />
				<%= link_to "<i class='fa fa-user-plus fa-2x fa-fw pull-left'></i> Admin Registration ".html_safe, new_admin_registration_path, class: 'btn btn-primary btn-lg fill' %>

				
</div>
<div class='col-md-6'>
	<%= link_to "<i class='fa fa-users fa-2x fa-fw pull-left'></i> Employee Sign In".html_safe, new_user_session_path, class: 'btn btn-primary btn-lg fill' %>
<hr />
	
				
				<%= link_to "<i class='fa fa-user fa-2x fa-fw pull-left'></i> Admin Sign In ".html_safe, new_admin_session_path, class: 'btn btn-primary btn-lg fill' %>
		
</div>
				
	
</div>