
<%= link_to event, class: 'list-group-item list-group-item-success' do %>

	<% if event.user == current_user %>
		You
	<% else %>
<span class='pull-left'>	<%= event.user.name %></span>
	
	<% end %>

<span class='headline'>	applied to <strong> to <%= event.eventable.title %></strong>  </span>

	
	<span class='badge badge-success pull-right'>
	    <%= event.created_at.stamp('11/13') %>
	</span>
	
<% end %>