<div class='list-group-item list-group-item-primary'>
    <strong><%= link_to event.admin.name, event.admin %></strong>
    <%= event.action.humanize.downcase %> 
    <%= link_to event.eventable.name_title, admin_employees_path(event.eventable) %>
    <small><%= event.created_at.strftime('%r') %></small>
</div>