<%= link_to employee_order_path(event.eventable), class: 'list-group-item list-group-item-success' do %>
	<%= user_signed_in? ? "You" : event.user.name %> applied  to <strong> <%= event.eventable.title_company %></strong>  

	<% if event.user.assigned? %>
		<span class='label label-danger pull-right'>
		   Assigned
		</span>
	<% else %>
		<span class='label label-success pull-right'>
		    <small> <%= event.created_at.stamp('11/13 at 8:30am') %></small>
		</span>
	<% end %>
	
<% end %>