<div>
    <strong><%= link_to event.admin.name, event.admin %></strong>
    <%= event.action %> ->
    <%= link_to event.eventable.name, event.eventable %>
    <small><%= event.eventable.role %></small>
</div>