<div class="col-md-12 mainpage">
  <h1>
  <div class="pull-right">
    <%= link_to "New Conversation", new_company_conversation_path, class: 'btn btn-primary' %>
  </div>

  All Conversations
</h1>


<% @conversations.each do |conversation| %>
  <hr />
  <div>
    <%= link_to company_conversation_path(conversation) do %>
      <h5><strong><%= conversation.subject %></strong></h5>
      <p> To: <%= (conversation.recipients - [current_company_admin]).map(&:name).join(", ") %></p>
    <% end %>
  </div>
<% end %>
</div>
