<div class='col-md-12 lightbox metal'>
    <div class='col-md-3'>
        <h2 class='metal'>Editing a shift for <%= @employee.name %></h2>
    </div>
<%= render 'form' %>
    <div class='col-md-3'>
        <%= link_to 'Back to view', company_shift_path(@shift), class: "btn btn-info" %> 
        <%= link_to 'All Company Shifts', company_shifts_path, class: "btn btn-info" %>
    </div>



</div>