<div class='col-md-12'>
  <div class='well'>
    <%= render 'calendar', shifts: @shifts %>
  </div>
  <div class='well'>
    <h2 class='simple'>This week</h2>
    <%= render 'table', shifts: @shifts %>
  </div>
</div>