
<% employee.comments.each do |comment| %>
  <div id='comment-list' class="well well-sm">
   <p>
         <%= comment.body %>
    </p>
    <div class='text-right'>
        
    <small>
        <%= comment.admin.try(:name) %>
        <%= comment.user.try(:name) %>
    </small>
    
    </div>
    
  </div>
<% end %>