<div class="col-md-6 well">
   
    <h5 class='text-center'>Total Orders: <%= @admin.account_orders.count %></h5>
 
        <%= pie_chart @admin.account_orders.group(:mark_up).count, min: 1000, max: 5000 , library: {legend: {position: "bottom"}, is3D: true, title: "Orders by Mark Up"} %>
        
</div>


<div class="col-md-6 well">
   
    <h5 class='text-center'>By Recruiter</h5>
       <%= pie_chart @admin.account_orders.group(:company).count, min: 1000, max: 5000 , library: {legend: {position: "bottom"}, is3D: true, title: "Orders by Company"} %>
</div>

<div class="col-md-12 well">
   
    <h5 class='text-center'>Orders by Fill Date</h5>
 
        <%= line_chart @admin.account_orders.group_by_day(:needed_by).count %>
        
</div>
