<div class='row row300'>
	<div class="col-md-6 col-sm-12 col-xs-12">
		<%= line_chart admin.timesheets.group_by_week('timesheets.created_at', format: "%m/%d/%y").count  %>
	</div>


    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
	
				

	</div>


	

</div>