<h3 class='white'>Recruiting Calendar</h3>
<%= month_calendar events: @orders, attribute: :needed_by do |date, orders| %>
  <span class='cal-date'>
    <%= date %>
  </span>

  <% orders.each do |order| %>
    <div class='black small'>
      <%= signed_in_link_to(title_for(order), order, class: "small") %>
      <%= order_skills_popover(order) if order.skills.any? %>
    </div>
  <% end %>
<% end %>