<div class='col-md-12 well'>
        
        <h5 class='text-center'>Recruiter Performance</h5>
    

        <div class='col-md-4'>
            <h5 class='text-center'>Placements</h5>
            
            <%= pie_chart @current_admin.jobs.includes(:current_timesheet, :employee).group(:last_name).sum(:total_bill), library: {legend: {position: "right"}, title: "Current Billings by Recruiter"} %>
        </div>
        <div class='col-md-4'>
            <h5 class='text-center'>Current Billings by Recruiter</h5>
            <%= pie_chart @current_admin.jobs.includes(:current_timesheet, :employee).group(:last_name).sum(:total_bill), library: {legend: {position: "right"}, title: "Current Billings by Recruiter"} %>
        </div>
   
    <div class='col-md-10'>
        <h5 class='text-center'>Current Billings by Recruiter</h5>
        <%= pie_chart Skill.job_order.limit(8).group(:name).count, library: {title: "Needed Skills"} %>
         
    </div>
</div>
