
  <div class="col-md-6 tag_cloud">
  	<h1>Needed Skills</h1>
	  <%= ActsAsTaggableOn::Tag.most_used(100) do |tag, css_class| %>
	    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	  <% end %>
	</div>
