
  <div class="col-md-6 tag_cloud">
  	<h1>Needed Skills</h1>
	  <% tag_cloud Order.needs_attention.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
	    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	  <% end %>
	</div>
	<div class="col-md-6 tag_cloud">
		<h1>Available Candidate Skills</h1>
	  <% tag_cloud Employee.unassigned.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
	    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	  <% end %>
	</div>

