  <div class='col-md-12 mainpage shadow'>
    <div class='col-md-12 form-inline text-center well shadow'>
      <%= render 'company/events/searching_between' %>
    </div>
  <div class='col-md-12 well'>
    <h1>Recent Activity</h1>
    <% @events.each do |event| %>
      <% if lookup_context.template_exists?(event.action, "company/events/activities", true) %>
        <%= render partial: "company/events/activities/#{event.action}", locals: {event: event} %>
      <% end %>
    <% end %>
    <%= will_paginate @events %>
  </div>
  

</div>