
  			<div class="row profile-user-info">
  			     
  			  
  				<div class="col-sm-8">
  
  				
  					<div class="profile-user-details clearfix">
  						<%= render employee.current_job %>
  					</div>

  					
  					
  					<div class="profile-user-details clearfix">
  						<div class="profile-user-details-label">
  							Email
  						</div>
  						<div class="profile-user-details-value">
  						<%= employee.email %>
  						</div>
  					</div>
  					<div class="profile-user-details clearfix">
  						<div class="profile-user-details-label">
  							Phone number
  						</div>
  						<div class="profile-user-details-value">
  							<%= employee.phone_number %>
  						</div>
  					</div>
  					
  				</div>
  				  	

  			</div>
