<%= link_to admin_employees_path(employee), class: 'list-group-item list-group-item-info' do %>

	
<span class='text-left'><%= employee.name %></span>

	
	<span class='badge badge-success pull-right'>
	    <%= employee.current_job.start_date.stamp('11/13') %>
	</span>
	
<% end %>
 