<div class='row'>
	<div class="col-md-3 bg-white">
	    <div class="panel panel-default">
	        <div class="panel-body">
	        	<% if @admin.events.following_admin.any? %>
	            <h4>Following Admins</h4>
	    		<ul class='fa-ul'>
	    		    <% @admin.events.following_admin.each do |event| %>
	        			<li><i class='fa fa-user'></i> <%= link_to event.eventable.name, event %></li>
	        				        		<% end %>
	    		</ul>
	    		<% end %>
	    		<% if @admin.events.following_candidates.any? %>
	    		<h4>Following Users</h4>
	    		<ul class='fa-ul'>
	    		    <% @admin.events.following_candidates.each do |event| %>
	        			<li><i class='fa fa-user'></i> <%= link_to event.eventable.name, event %></li>
	        		<% end %>
	    		</ul>
	    		<% end %>
	        </div>
	    </div>
	</div>
	<div class="col-md-6 bg-white">
	    <div class="panel panel-default">
	        Recent Activity
	        <div class="panel-body">
	            <% @admin.events.order(:created_at).each do |event| %>
	              <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
	                <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
	              <% end %>
	             <% end %>
	        </div>
	    </div>
	</div>
	<div class="col-md-3 bg-white">
	    <div class="panel panel-default">
	        <div class="panel-body">
	        </div>
	    </div>
	</div>
</div>