<div class='col-md-12 main-box'>
    <h2 class='page-header'></h2>
    Welcome, <%= current_company_admin.role %>!
    <hr>
     <%= link_to "Timeclock", company_timeclock_path, class: 'btn btn-primary'%>
    <%= link_to "Jobs", company_jobs_path, class: 'btn btn-primary'%>
    <%= link_to "Edit Company Admin", edit_company_admin_registration_path, class: 'btn btn-primary'%>
   
</div>