<div class="">
		<div class="tabs-wrapper dark">
				<ul class="nav nav-pills">
				  <li class=""><a href="#tab-home" data-toggle="tab">Open Job Orders</a></li>
				  <li class=""><a href="#tab-applications" data-toggle="tab">Applications</a></li>
					<li class=""><a href="#tab-admin" data-toggle="tab">Following Admins</a></li>
					<li class=""><a href="#tab-candidates" data-toggle="tab">Following Candidates</a></li>
				</ul>
			<div class="tab-content">
				<div class="tab-pane fade" id="tab-home">
						<div class=''>
							<%= render 'admin/dashboard/orders_by_company' %>
						</div>
				</div>
				<div class="tab-pane fade" id="tab-applications">
					<div class=''>
						<% if Event.applications.any? %>
							<% Event.applications.order(created_at: :desc).each do |event| %>
							  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
							    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
							  <% end %>
							<% end %>
						<% else %>
							Sorry, there're are currently no applications.
						<% end %>
					</div>
				</div>
				<div class="tab-pane fade" id="tab-admin">
					<h4>Following Admin</h4>
				    <div class='scroll300'>
							<% recruiter.events.following_admin.each do |event| %>
						  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
						    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
						  <% end %>
						<% end %>
				    </div>
				</div>
				<div class="tab-pane fade" id="tab-candidates">
					<% if recruiter.events %>
					<h4>	Following Candidates</h4>
					<div class='scroll300'>
					<% recruiter.events.following_candidates.each do |event| %>
					  <% if lookup_context.template_exists?(event.action, "events/activities", true) %>
					    <%= render partial: "events/activities/#{event.action}", locals: {event: event} %>
					  <% end %>
					<% end %>
					</div>
					<% else %>
					<h3 class='text-center'>Sorry, there're are currently no events.</h3>
					<% end %>
				</div>
			</div>
		</div>
</div>
