<h4 class='text-center'>Needed Skills</h4>
  <div class="">
  	 
  	<div class="scroll600">
	  <% orders.tags_on(:tags).order(name: :asc).each do |tag, css_class| %>
	  	<%= link_to(tag_path(tag.name), class: "list-group-item list-group-item-info") do  %>
	   <% if employees.tagged_with([tag], :any => true).any? %>
		 <span><i class="fa fa-user-plus fa-fw"></i>  <%= tag.name %></span>
	   <%else %>
	    <span><i class="fa fa-square-o fa-fw"></i>  <%= tag.name %></span>
	    <% end %>
	   <% end %>
	  <% end %>
		</div>
	<%= link_to 'Clear Search', tags_path, class: 'pull-right small' %>
		
		
	</div>
