<div class="col-md-12 lightbox">
	<h1 class='page-header'>Sales Dashboard</h1>
	<div class=''>
		<div class='col-md-2'>
			<%= render "admin/shared/alerts/open_orders", orders: @current_admin.job_orders %>
		</div>
		<div class="col-md-10 bg-white">
				<%= render 'admin/orders/table', orders: @orders %>
				<%= will_paginate @orders %>
		</div>
		<div class='col-md-10'>
			<%= render 'admin/shared/company_collapse', companies: @current_admin.companies.distinct.order(:name) %>
		</div>
	</div>
</div>