<div class='col-md-9'>
    <h1 class='page-header'>Payroll Dashboard</h1>
    <%= render 'admin/infoboxes/payroll_boxes' %>
</div>

<%= render 'admin/shifts/one_day_calendar', shifts: @shifts %>
<%= render 'admin/shared/one_day_calendar', events: @current_agency.events.order(id: :desc) %>
