<div class='col-md-12 dark'>
    <h1 class='page-header'>Payroll Dashboard</h1>
    <%= render 'admin/infoboxes/payroll_boxes' %>
  <%= render 'admin/infoboxes/infoboxes' %>
 	

    
   
        

    
    
    
    
    
    
    
    
    
    
</div>


