<div class='col-md-9 lightbox'>
    <h1 class='page-header'>Payroll Dashboard</h1>
    <%= link_to "ACA Reports", report_admin_employees_path, class: "btn btn-primary" %>
    <%= render 'admin/infoboxes/payroll_boxes' %>
</div>

<%= render 'admin/shifts/one_day_calendar', shifts: @shifts %>
<%= render 'admin/shared/one_day_calendar', events: @current_agency.events.order(id: :desc) %>
