<div class='dark col-md-12'>
    <h1 class='page-header'><%= @current_agency.name.titleize %>'s Payroll Dashboard</h1>
    <%= render 'admin/infoboxes/payroll_boxes' %>
  
 	
	 	<%= render 'admin/infoboxes/infoboxes' %>

    
   
        

    
    
    
    
    
    
    
    
    
    
</div>


