<div class='main-box scroll'>
  <h2>Recruiter Dashboard</h2>
  	<div class="well">
    <%= render 'admin/infoboxes/recruiter_boxes' %>
    </div>

    <div class='center'>
      <%= render 'admin/infoboxes/recruiter_charts' %>
    </div>


</div>