<div class='dark'>
  <h2>Recruiter Dashboard</h2>
  <div class="">
   <%= render 'skills/search'%>
  </div>
  	<div class="">
    <%= render 'admin/infoboxes/recruiter_boxes' %>
    </div>

    <div class=''>
      <%= render 'admin/infoboxes/recruiter_charts' %>
    </div>


</div>