<div class='col-md-12 dark'>
  <h2>Recruiter Dashboard</h2>
  <div class="">
   <%= render 'skills/search'%>
  </div>
  	<div class="col-md-8">
    <%= render 'admin/infoboxes/recruiter_boxes' %>
    </div>

    <div class='col-md-12'>
      <%= render 'admin/infoboxes/recruiter_charts' %>
    </div>


</div>