<h1>
  <div class="pull-right">
    <%= link_to "New Conversation", new_admin_conversation_path, class: 'btn btn-primary' %>
  </div>

  All Conversations
</h1>


<% @conversations.each do |conversation| %>
  <hr />
  <div>
    <%= link_to admin_conversation_path(conversation) do %>
      <h5><strong><%= conversation.subject %></strong></h5>
      <p>To: <%= (conversation.recipients - [current_admin]).map(&:name).join(", ") %></p>
    <% end %>
  </div>
<% end %>

<div class='col-md-6 well well-sm'>
  <h4>Send A Message</h4>
  
</div>
