<div class="table-responsive">
	<table id='' class="table table-bordered">
		<thead>
			<tr>
				<th>Employee</th>
				<th>Title</th>
				<th>Week Gross</th>
				<th>YTD Gross</th>
			</tr>
		</thead>
		<tbody>
			<%  employees.each do |employee| %>
    			<% if employee.on_shift? %>
    				    <tr class="bg-success">
    				 	<% else %>
    				  	<tr class="bg-info">
    	        <% end %>
				<td><%= link_to "<i class='fa fa-user fa-lg fa-fw'></i> #{employee.name}".html_safe, admin_employee_path(employee), class: "" %></td>
				<td><%= employee.title %></td>
				<td><%= number_to_currency(employee.timesheets.for_the_week_of.try(:gross_pay) || 0) %> </td>
				<td><%= number_to_currency(employee.current_job.try(:total_gross_pay) || 0) %> </td>
				</tr>
			<% end %>
			
		</tbody>
	</table>
</div>