<div class="col-md-12 lightbox">
					
	<h1>Edit Employee</h1>


	<div class='col-md-12'>
		<%= render 'form' %>
	</div>
			

	<%= link_to 'Back', admin_employees_path, class: 'btn btn-default' %>
</div>