<div class="col-md-12 transbox">
					
	<h1>Add Employee</h1>

	<div class="row">
		<div class="well">
		
			  
				<h2><%= @current_agency.name %></h2>
			<%= render 'form' %>
        <%= link_to 'Back', admin_employees_path, class: 'btn btn-default' %>
				
				</div>

			</div>
		</div>


