<div class="tabs-wrapper">
			<div class="clearfix">
				<h2 class="pull-left">At A Glance</h2>
				<ul class="nav nav-tabs pull-right">
					<li class="active"><a href="#tab-clocked-in" data-toggle="tab">Clocked In</a></li>
					<li><a href="#tab-products" data-toggle="tab">Clocked Out</a></li>
					<li><a href="#tab-todo" data-toggle="tab">Todo</a></li>
				</ul>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab-clocked-in">
					

						
						<%= render @jobs.on_shift %>

		

			</div>

	
						
						
					</ul>
					<br>
					<%= link_to "View all users", users_path, class: "btn btn-success pull-right" %>
				</div>
				
				<div class="tab-pane fade" id="tab-products">
					<ul class="widget-users row">

	
					<%= link_to "Employee List", admin_employees_path, class: "btn btn-success pull-right" %>
				</div>
				
				<div class="tab-pane fade" id="tab-todo">
					<ul class="widget-todo">
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-1">
									<label for="todo-1">
										New products introduction <span class="label label-danger">High Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-2">
									<label for="todo-2">
										Checking the stock <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
							<div class="actions">
								<a href="#" class="table-link">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="table-link danger">
									<i class="fa fa-trash-o"></i>
								</a>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-3" checked="checked">
									<label for="todo-3">
										Buying coffee <span class="label label-warning">Medium Priority</span>
									</label>
								</div>
							</div>
							<div class="actions">
								<a href="#" class="table-link">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="table-link danger">
									<i class="fa fa-trash-o"></i>
								</a>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-4">
									<label for="todo-4">
										New marketing campaign <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-5">
									<label for="todo-5">
										Calling Mom <span class="label label-warning">Medium Priority</span>
									</label>
								</div>
							</div>
							<div class="actions">
								<a href="#" class="table-link badge">
									<i class="fa fa-cog"></i>
								</a>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-6">
									<label for="todo-6">
										Ryan's birthday <span class="label label-danger">High Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-7">
									<label for="todo-7">
										Printing new flyer <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-8">
									<label for="todo-8">
										Mila and Ryan wedding <span class="label label-danger">High Priority</span>
									</label>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="name">
								<div class="checkbox-nice">
									<input type="checkbox" id="todo-9">
									<label for="todo-9">
										Checking the stock <span class="label label-success">Low Priority</span>
									</label>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>


