
   
        <%= div_for(@company.admins) do |admin| %>

            <p><%= link_to admin.name, admin, class: "btn" %></p>
            <p> <%= admin.email %></p>
    
        <% end %>

            

