<div class='col-md-12 main-box '>
    <%= link_to 'All Companies', admin_companies_path, class: "btn btn-primary btn-lg" %>
    <div class='col-md-12'>
        <h1 cl='text-center'>Add A New Company</h1>
    
    
    <div class='col-md-6 col-md-offset-3 dark'>
        <%= render 'form' %>
       
            
       
    </div>
    
    
    </div>
</div>