<div class='col-md-12'>
    <h1>New Company</h1>

<div class='main-box col-md-6 center'>
    <%= render 'form' %>
    <div class=''>
    <%= link_to 'Back', admin_companies_path %>
</div>
</div>



</div>