<div class="col-md-12 mainpage shadow">
  <h1 class='text-center'>Add A New Company</h1>

  <div class="row">
    <div class='col-md-6 col-md-offset-3 well'>
      <%= render 'form' %>
    </div>
  </div>
</div>
