<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="...">
  	

				
				
			
				<%= link_to(company_timesheet_path(timesheet, format: :pdf), class: "button") do %>
				
					  <i class="fa fa-download fa-fw"></i>
				
					
				
				<% end %>
 <% if timesheet.pending? && timesheet.current? %>
  	<a class='button' data-behavior="company-timesheet-toggle" >
		<span data-behavior="approve-button" >
          <% if timesheet.approved? %>
			  <i class="fa fa-times fa-fw"></i>
          <% else %>
			  <i class="fa fa-check fa-fw"></i>
          <% end %>
	    </span>
	</a>
	<% elsif !timesheet.current? && timesheet.pending? %>
	<a class='button' data-behavior="company-timesheet-toggle" >
		<span data-behavior="approve-button" >
          <% if timesheet.approved? %>
			  <i class="fa fa-times fa-fw"></i>
          <% else %>
			  <i class="fa fa-check fa-fw"></i>
          <% end %>
	    </span>
	</a>
	<% else %>
	
	<% end %>
    </div>
</div>