<div class='dark col-md-12'>
<h1>Editing Timesheet</h1>

  
        <%= render 'form' %>
   


<%= link_to 'Show', admin_timesheet_path(@timesheet) %> |
<%= link_to 'Back', admin_timesheets_path %>
</div>