<div class="nested-fields">
    
    <div class="form-group">
       <%= f.text_field :name, placeholder: "Enter a skill", data: {behavior: 'skill-autocomplete'}  %>

       <%= f.input :required, label: 'Is this a requirement?' %>
    </div>

<%= link_to_remove_association "<i class='fa fa-times-circle'></i>".html_safe, f, class: 'badge badge-danger'%>

</div>
