<div class='col-md-12'>
    <h2>Edit Order</h2>

    <%= render 'form' %>

<div class='btn-group'>
    <%= link_to 'Show', admin_company_order_path(@company, @order), class: "btn btn-primary" %> 
    <%= link_to 'Back', admin_company_orders_path(@company), class: "btn btn-primary" %>
    <%= link_to 'Delete', admin_company_order_path(@company, @order), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

</div>