<div class='main-box'>
    <h4>Edit Order</h4>

<%= render 'form' %>

<%= link_to 'Show', admin_company_order_path(@company, @order) %> |
<%= link_to 'Back', admin_company_orders_path(@company) %>

</div>