<div class="main-box clearfix">
	<div class="alert alert-danger fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-exclamation-triangle fa-fw fa-lg"></i>
		<strong>You have <%= @viewing.orders.needs_attention.count %> job orders that need attention. </strong>   </div>
	<%= render 'open_table' %>
		
</div>
<div class='main-box clearfix'>
	<h2>All Active Job Orders</h2>
  <%= render 'table' %>
</div>


<div class="col-lg-6">
	<div class="main-box clearfix">
	    <% if @company.present? && @order.present? %>
		    <%= render 'form' %>
	    <% end %>
	</div>
</div>

<div class="col-lg-6">
	<div class="main-box clearfix">
		
		
	</div>
</div>