<div class="col-md-12 transbox">
	
    <div id="tag_cloud">
	  <% tag_cloud Order.needs_attention.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
	    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
	  <% end %>
	</div>
	
		
			
		<% if @orders.needs_attention.any? %>
	<div class="alert alert-danger fade in text-center">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-exclamation-triangle fa-fw fa-lg"></i>
			<strong><%= pluralize(@orders.needs_attention.count, 'open job order') %> </strong>   
	</div>
		<% else %>
	<div class="alert alert-success fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<i class="fa fa-check-square-o fa-fw fa-lg"></i>
			<h4><%= pluralize(@orders.needs_attention.count, 'open job order') %>. </h4>
	</div>
		<% end %>
		
	<div class="well">
	<% if @orders.needs_attention.any? %>
	
			<%= render 'open_table' %>
	
	<%end%>

	</div>

</div>