<div class='col-md-12 lightbox'>
<h3 class='text-center'>New Job Order</h3>
      
    <% if @company.present? %>
        <h2 class='text-center'><strong><%= link_to @company.name, admin_company_path(@company) %></strong></h2>
    <div class='text-center'>
        <%= render 'admin/companies/company_contact', company: @company %>
    </div>
    <%end%>

        
        <div class=''>
             
            <%= render 'form' %>
        </div>

</div>


