<div class='col-md-12'>

      
    <h4><strong><%= link_to @company.name, admin_company_path(@company) %></strong></h4>
    <%= render 'admin/companies/company_contact', company: @company %>

        
        <div class='center'>
             <h3 class='text-center'>New Job Order</h3>
            <%= render 'form' %>
        </div>

</div>


