<div class='col-md-12 mainpage shadow'>
<%= render 'admin/companies/company_contact', company: @company if @company.present? %>
      
    <% if @company.present? %>
        <h2 class='text-center'>New Job Order for <%= link_to @company.name, admin_company_path(@company) %></h2>
        
    <% else %>
        <h3 class='text-center'>New Job Order</h3>
        <% end %>
             
            <%= render 'form' %>

</div>


