<nav class="navbar demo-nav">
    <div class="container-fluid">
        <p class="navbar-text text-muted metal bold lead"><i class="fa fa-question-circle fa-pull-left fa-border"></i> Demo Mode</p>
        <div class="collapse navbar-collapse navbar-right" id="bs-demo-navbar-collapse-1">
            <p class="navbar-text text-muted metal bold lead"> How To</p>
            <ul class="nav navbar-nav">
                <li class='' data-toggle="tooltip" data-placement="bottom" title="Add A New Company"><a class="demo-link" data-toggle="modal" data-target="#companyDemoModal">   <i class="fa fa-building fa-2x"></i> </a> </li>
                <li class='' data-toggle="tooltip" data-placement="bottom" title="Create User Accounts"><a class="demo-link" data-toggle="modal" data-target="#usersDemoModal">   <i class="fa fa-user-plus fa-2x"></i> </a> </li>
                <li class='' data-toggle="tooltip" data-placement="bottom" title="View Time Clock"><a class="demo-link" data-toggle="modal" data-target="#clockDemoModal">   <i class="fa fa-clock-o fa-2x"></i> </a> </li>
            </ul>
        </div>
    </div>
</nav>