$("#<%=@user.id%>-updated-available-at").text("<%= time_ago_in_words(@user.checked_in_at) %> ago");
$("#<%=@user.id%>-updated-available-at-icon").html("<span class='fa-stack fa-lg' data-placement='right' data-toggle='tooltip' title='Update as Available'><i class='fa fa-square-o fa-stack-2x'></i><i class='fa fa-thumbs-up fa-stack-1x'></i></span>");
$("#<%=@user.id%>-updated-available-btn").hide();