<div class="col-md-12 mainpage shadow">
    <h1>Editing Invoice</h1>
    <%= render 'form' %>
    <%= link_to 'Back', admin_company_invoices_path(@company) %> |<%= link_to 'Back', admin_company_invoices_path(@company) %>
</div>