<div class='col-md-4 well'>
   <h4 class='text-center'>Search for skills</h4>
    <div class='form-inline black'>
      <%= search_form_for @q do |f| %>
          
          <%= f.search_field :name_cont, placeholder: "Search..."  %>
          <%= f.submit %>
        <% end %>
        
    </div>
   
    
     
</div>