
<%= div_for(skill) do %>
	<% if skill.new_record? %>
		New!!!!!!
	<% else %>
	    <strong><%= skill.name %></strong>
	     <% if admin_signed_in? %>
	    <%= skill.skillable.try(:name) %>
	   
	    	
	    <%= link_to(skill, method: :delete, remote: true, data: { confirm: 'Are you sure?' }) do %>
					<span>
						
							<i class="fa fa-trash-o red "></i>
						</span>
					<% end %>
		<% end %>
	
	<% end %>

<% end %>