<div class='col-md-12'>

  
  <div class='center'>
    
  </div>
  <div class='row'>
    <p id="notice"><%= notice %></p>

    <h1>Needed Skills</h1>
    
    
    <div class='col-md-6'>
      
     <%= render @skills.job_order %>
      </div>
      <div class='col-md-6'>
      
     <%= render @skills %>
      </div>

    
  </div>
</div>

<!--<div class='col-md-6 text-left center'>-->
<!--  <h4>Skills</h4>-->
<!--  <div id='skills'>-->
<!--    <%= render @skills %>-->
<!--  </div>-->
  