
<li><%= link_to "<i class='fa fa-globe fa-lg' data-placement='bottom' data-toggle='tooltip' title='Sales Dashboard'></i>".html_safe, admin_account_manager_path, class: "navbar-link" if @current_admin.owner? %>&nbsp;</li>
<li><%= link_to "<i class='fa fa-street-view fa-lg' data-placement='bottom' data-toggle='tooltip' title='Recruiting Dashboard'></i>".html_safe, admin_recruiter_path, class: "navbar-link" if @current_admin.owner? %>&nbsp;</li>
<li><%= link_to "<i class='fa fa-usd fa-lg' data-placement='bottom' data-toggle='tooltip' title='Payroll Dashboard'></i>".html_safe, admin_payroll_path, class: "navbar-link" if @current_admin.owner? %>&nbsp;</li>
      