<div class="nested-fields">

    <div class="form-group">
       <%= f.input :name %>
    </div>
    <div class="form-group">
       <%= f.input :required %>
    </div>

<%= link_to_remove_association "remove", f %>

</div>
