<div class="col-md-12 mainpage">
    
    <div class="col-md-6 well">
        <h1 class='bold bigger text-center page-header'>Recruiting</h1>
        <h2 class='metal text-center'> Make Quality Placements...Faster!</h2>
        <ul class='fa-ul'>
            <li><i class="fa-li fa fa-check-square"></i> Automatically identifies matching candidates  </li>
            <li><i class="fa-li fa fa-check-square"></i> New Job Order alerts on any device  </li>
            <li><i class="fa-li fa fa-check-square"></i> Communicate directly with account managers & candidates.  </li>
        </ul>
        <hr>
        <%= image_tag("recruiting-dash.png", class: 'screenshot') %>
    </div>
    <div class='col-md-6 well'>
        <h2 class='metal text-center'>Connect with qualified candidates easier</h2>
        <p>
            Candidates can apply directly to any open job order with one click. 
            This immediately lets the recruiter know there is interest in the position. 
            With easy keyword and hashtag matching, much of the work is
            already done.
        
            Searching the candidate database has never been easier. IncluStaff makes the match-ups for you to get the recruiter off to
            a quick start in filling the position before the competition has the chance to perform their first manual search!
        </p>  
        <hr>
         <%= image_tag("recruiting-orders-tab.png", class: 'screenshot') %>
    </div>
</div>