<div class='col-md-12 mainpage shadow'>
   
    <div class='col-md-4 well well-sm '>
         <h1 class='bigger'>Sales</h1>
    <ul class="fa-ul">
        <li><i class='fa fa-check-square-o'></i> &nbsp;<strong> Easily enter job orders from anywhere</strong>
            <p class='text-info'>From the company’s lips to your recruiters ears…IncluStaff provides
              a way for your client to easily add a job order to your system. </p>
        </li> 
        <li><i class='fa fa-check-square-o'></i> &nbsp;<strong> Gain a true competitive advantage</strong>
            <p class='text-info'>
                No more waiting for manual data entry gives your team the competitive advantage
                by having the order immediately visible to your recruiters & candidates.
                Immediate action is key to a quick fill - and increased revenue!
            </p>
        </li> 
        <li><i class='fa fa-check-square-o'></i> &nbsp;<strong> Real-time Data</strong>
            <p class="text-info">
                Getting orders in real time allows your candidates and recruiters the chance to fill
                the position before your competitors even know it is available.
            </p>
        </li> 
    </ul>
    
  </div>
  <div class='col-md-8 well text-center'>
         <div class='col-md-6'>
            <%= image_tag("biz-img-1.png", class: "") %>
         </div>
        <div class='col-md-6 well'>
            <p class='bold lead'>Empowering your clients to submit their own orders makes the process so easy that they won’t even take the time to think about contacting a competitor!</p>

        </div>
   </div>
</div>