<div class='col-md-12 mainpage shadow'>
    <h1 class='bold bigger text-center page-header'>Time Tracking</h1>
    <div class="col-md-4 well">
        <h2 class="text-center">On-Site</h2>
        <%= image_tag("responsive12.png", class: 'bullet-icon2') %>
        <hr>
        <p>IncluStaff allows any web-enabled device to be transformed into a password protected time clock that can be set-up in just minutes!</p>
        <p>Employees simply clock-in with a passcode when they arrive on assignment.</p>
    </div>
    <div class="col-md-4 well">
        <h2 class="text-center">Mobile</h2>
        
        <%= image_tag("mobile209.png", class: "bullet-icon2") %>
        <hr>
        <p>Enable the mobile time-tracking feature to allow your employees to clock in from their smart phone.</p>
        <p>IncluStaff tracks and records GPS location with every clock in/out. </p>
    </div>
    <div class="col-md-4 well">
        <h2 class="text-center">Manager Entry/Upload</h2>
        <%= image_tag("working2.png", class: 'bullet-icon2') %>
        <hr>
        <p>Easily import multiple timesheets at once using a simple CSV or enter them individually directly into IncluStaff.</p>
    </div>
</div>