<div class='col-md-12 mainpage shadow'>
    <h1 class='text-center simple'>Time Tracking</h1>
    <div class="col-md-4 well">
        <h3>On-Site</h3>
    </div>
    <div class="col-md-4 well">
        <h3>Mobile</h3>
    </div>
    <div class="col-md-4 well">
        <h3>Manager Entry/Upload</h3>
        <hr>
        <%= image_tag("import.png", class: "screenshot") %>
    </div>
</div>