<div class='col-md-12 mainpage shadow'>
    <h1 class='text-center simple'>Time Tracking</h1>
    <div class="col-md-4 well">
        <h3>On-Site</h3>
        <p>Time clock terminals are expensive to install and operate. IncluStaff allows any web-enabled 
        device to be transformed into a password protected time clock that can be set-up in just minutes!</p>
        <p>Employees simply clock-in with a passcode when they arrive on assignment.</p>
    </div>
    <div class="col-md-4 well">
        <h3>Mobile</h3>
        <p>Enable the mobile time-tracking feature to allow your employees to clock in from their smart phone.</p>
        <p>IncluStaff tracks and records GPS location with every clock in/out. </p>
    </div>
    <div class="col-md-4 well">
        <h3>Manager Entry/Upload</h3>
        <p>Easily import multiple timesheets at once using a simple CSV or enter them individually directly into IncluStaff.</p>
    </div>
</div>