<div class='offset-col-md-3 col-md-6 main-box'>
<%= simple_form_for(@agency) do |f| %>


    <%= f.input :name, label: false, placeholder: "Agency Name" %>
    <%= f.input :subdomain, label: false, placeholder: "Choose a subdomain", hint: 'Lowercase only. No special characters or spaces.'  %>
    <hr>
   
            <div class="form-actions">
              <%= f.button :submit, "Register Agency" %>
            </div>
 </div>
<% end %>