<div class='main-box'>
    <h2><%= @agency.name %></h2>
    <% if admin_signed_in? %>


<div class='col-md-6'>
    <h3>Open Orders</h3>
    <%= render @agency.orders.needs_attention %>
</div>
<div class='col-md-6'>
     <h3>Filled Orders</h3>
    <%= render @agency.orders.filled %>
</div>



<%= link_to "Edit", edit_agency_path(@agency), class: 'btn btn-primary' %>


<% else %>
You shouldn't be here. You aren't logged in.
<% end %>
</div>