
<div class="" data-behavior="job-list">
<div data-behavior="job" data-id="<%= job.id %>">
  <%= div_for job do %>
    
    <%= render "admin/users/modal", user: job.employee.user %>
  <% end %>
</div>
</div>