<% if jobs.any? %>
<div data-behavior="job-list">
    <ul class="fa-ul">
        <% jobs.each do |job| %>
        <li data-behavior="job" data-id="<%= job.id %>"><i class="fa-li fa fa-user-plus"></i>
            <%= link_to job.name_title, admin_job_path(job) %>
            <span data-behavior="job-name">
              <% if job.active? %>
                <p><%= job.state %></p>
              <% else %>
                <p><%= job.state %></p>
              <% end %>
            </span>
        </li>
        <% end %>
  </ul>
</div>
<% end %>