<div class='col-md-12 transbox'>
<div class='well'>
    <% if @jobs.active.any? %>
    
<h1>All Active Jobs</h1>
<%= render 'admin/jobs/table', jobs: @jobs.active %>
<% else %>
No jobs to display.
<% end %>


<%= link_to 'View Inactive', inactive_admin_jobs_path, class: 'btn btn-primary' %>
</div>
</div>