<div class='col-md-12 lightbox'>
  <!--IF THE COMPANY HAS NO UNASSIGNED EMPLOYEES - - END-->
  <% if Employee.unassigned.empty? %>
  <div id="no-employees-alert" class="alert alert-danger text-center" role="alert"><br>
  <i class="fa fa-exclamation-triangle fa-3x fa-border"></i>
  <h4 class='text-center'>All of your employees are currently assigned to a job. <br>
  Please add a new employee before continuing.</h4>
  
  <%= link_to "Add Employee", new_user_registration_path, class: "btn btn-danger" %>
  
  </div>
  
  <% else %>
  <% if @order.present? %>
  <div class='col-md-3 well well-sm'>
    <h3 class=''>Matching Employees</h3>
    <%@order.matching_employees.available.includes(:user).each do |employee| %>
    <p class=''><%= render 'users/modal', user: employee.user %></p>
    <% end %>
  </div>
  <% end %>
  <div class='col-md-6 well'>
    <%= render 'form' %>
  </div>
  


<% end %>



</div>