<div class='col-md-12 lightbox'>
    <h2>New Work History for <%= @employee.name %></h2>
    <%= render 'form' %>
    <%= link_to 'All Employee Work Histories', admin_employee_work_histories_path(@employee), class: "btn btn-primary btn-lg" %>
</div>


