<div class="col-md-12">
  <%=link_to "Add Work History", new_employee_work_history_path(@employee), class: 'btn btn-default' %>
  <h1><%= @employee.first_name %> Work Histories</h1>
  <hr>
<%= render partial: "employee/work_histories/work_history", collection: @work_histories %>
</div>



