<div class='col-md-12'>
   <h3>Average Mark-Up: <%= @current_agency.orders.with_active_jobs.average(:mark_up).round(2) %></h3>
    
    <%= column_chart @current_agency.companies.order('name').map{|company|
        {name: company.name, data: company.invoices.group_by_month('created_at', range: 2.months.ago.midnight..Time.current, format: "%B").sum(:total)}
    }, library: {backgroundColor: "#e5dbcf", legend: {position: "right"}, title: "Company Billings by Month"} %>
</div>


<div class="col-md-12 ">
    <%= line_chart @current_agency.companies.includes(:invoices).map{|company|
    {name: company.name, data: company.invoices.group_by_week(:created_at, range: 2.weeks.ago.midnight..Time.now).sum(:total)}
}, library: {backgroundColor: "#e5dbcf", legend: {position: "right"}, title: "Company Billings by Company"} %>
</div>
