<div class='col-md-12'>
    <%= column_chart @current_agency.companies.order('name').map{|company|
        {name: company.name, data: company.invoices.group_by_month('created_at', range: 3.months.ago.midnight..Time.current, format: "%b/%d/%y").sum(:total)}
    }, library: {backgroundColor: "#ccc", legend: {position: "right"}, title: "Company Billings by Month"} %>
</div>

<div class="col-md-12 ">
 <%= line_chart @current_agency.admins.account_managers.map{|am|
  {name: am.name, data: am.account_orders.includes(:timesheets).group_by_week('timesheets.created_at', range: 3.weeks.ago.midnight..Time.current, format: "%b/%d/%y").sum(:total_bill)}
} %>
</div>
<%= line_chart @current_agency.companies.includes(:invoices).map{|company|
    {name: company.name, data: company.invoices.group_by_week(:created_at).sum(:total)}
} %>