<div class=''>
        
        <div class='col-md-3'>
        <h4 class='text-center'>Current Billings by Recruiter</h4>
        <ul class="list-group">
        <% @current_agency.admins.recruiters.sorted_by_current_billing.each do |admin| %>
            <% if admin.id == recruiter.id %> <li class="list-group-item list-group-item-success"> <% else %><li class="list-group-item"><% end %>
                <%= admin.name %> <span class="label label-success pull-right"><%= number_to_currency(admin.current_billing) %></span> 
            </li>
        <% end %>
        </ul>
    </div>
    

        <div class='col-md-6'>
            <h4 class='text-center'>Placements</h4>
            <%= pie_chart recruiter.jobs.includes(:current_timesheet, :employee).group(:last_name).sum(:total_bill), library: {legend: {position: "right"}, title: "Current Billings by Recruiter"} %>
        </div>
    
    <%= line_chart recruiter.jobs.group_by_week('jobs.start_date').count%>
</div>
