

<div class='col-md-12'>
    <div class='col-md-9 well well-sm'>
    <%= column_chart recruiter.companies.distinct.map{|company|
            {name: company.name, data: company.invoices.group_by_week('invoices.week', range: 4.weeks.ago.midnight...Time.current, format: "%m/%d").sum(:total)}
        }, library: {title: "Company Billings per Week"}, xtitle: "Week", ytitle: "Total Billing" %>
    </div>
    <div class='col-md-3 well well-sm'>
        <h4 class='text-center'>Current Billings by Recruiter</h4>
        <div class="fa-ul">
        <% @current_agency.admins.recruiters.sorted_by_current_billing.each do |admin| %>
            <% if admin.id == recruiter.id %> <li class="bg-success"> <% else %><li class=""><% end %>
                <%= link_to admin.name, admin_admin_path(admin) %> <span class="bold pull-right"><%= number_to_currency(admin.current_billing) %></span> 
            </li>
        <% end %>
        </div>
    </div>

        
    
</div>
