<p id="notice"><%= notice %></p>
<div id="company-timesheet-page">
    <h1><%= @company.name %>'s Timesheets</h1>

    <%= render 'table' %>

<br>

    <%= link_to 'Back to Company Page', @company, class: "btn btn-default" %>
    
    
    
</div>

