<% if activity.trackable %>
<%= link_to activity_path(activity), class: 'list-group-item list-group-item-success' do %>
	<%= activity.owner.try(:name) %><strong> clocked in </strong>   to  <%= activity.trackable.name_title %>
		<span class='label label-success pull-right'>
		    <%= date_and_time activity.created_at %>
		</span>
<% end %>
<% else %>
RECORD DELETED
<% end %>