<div class="dark wjite">

	<%= month_calendar(attribute: :time_in, events: @shifts) do |date, shifts| %>
	
  <div class='cal-date'><%= date %></div>

  <% shifts.each do |shift| %>
    <div class='fill'>
      <%= link_to shift.employee.name, admin_shift_path(shift) %>
      <strong><%= shift %> </strong>
    </div>
  <% end %>
<% end %>

</div>
