$('#start-break-btn').show();
$('#end-break-btn').hide();

$("<li class='list-group-item'><h6> <%= @shift.breaks.count.even? ? "Out:" : "In:" %> <strong> <%= break_ended.to_datetime.stamp("1:30am") %></strong></h5></li>").appendTo("#break-list");
