$('#start-break-btn').hide();
$('#end-break-btn').show();

$("<li class=''><%= @shift.breaks.count.even? ? "Out:" : "In:" %> <strong> <%= @shift.breaks.last.to_datetime.stamp("1:30am") %></strong></li>").appendTo("#break-list");
