$('#start-break-btn').hide();
$('#break-end-btn').show();
$("[data-behavior='job-out-button_<%=@shift.job_id%>']").hide();
$("<li class=''><%= @shift.on_break? ? "<i class='fa-li fa fa-spinner fa-spin'></i>".html_safe : "<i class='fa-li fa fa-check-square'></i>".html_safe %> <strong> <%= @shift.breaks.last.to_datetime.stamp("1:30am") %></strong></li>").appendTo("#break-list");
