<div class='col-md-12 transbox'>
  <%= @shifts.count %> / <%= Shift.count %> 
    <div class='form-inline'>
      <%= render 'search' %>
      
    </div>
<h3>Shifts</h3>
<%= render 'table' %>




</div>