
<div class='col-md-12 mainpage shadow'>
    <h1 class="bold"><%= @company_admin.name %></h1>
    <h2><%= signed_in_link_to( @company_admin.company.name, @company_admin.company) %> 
		        <small><%= @company_admin.role %></small></h2>
     <div class='col-md-12 well'>
         <%= render "quicklook", company: @company %>
     </div>
      
</div>