<div class="well">
 
	<%= week_calendar(attribute: :time_in, events: shifts) do |date, shifts| %>
	
<%= date %>

  <% shifts.each do |shift| %>
    <div>
      <%= link_to shift_times(shift), employee_shift_path(shift) %>
      <strong><%= shift.hours_worked %> </strong>
    </div>
  <% end %>
<% end %>

</div>