.job {

  
  &:target {
      background-color: rgba(23, 230, 13, 0.28);

  }
}


.shift-item {
  padding: 8px;
  margin: 5px;
  max-width: 90%;
}


.btn.clock-button {
  background-color: transparent;
  border-bottom: 0px;
}
.btn.clock-button:hover { 
    background-color: yellow;
}
