/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 

  *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
  

  *= require jquery-ui
  *= require jquery.atwho
  *= require fullcalendar
  
  *= require simple_calendar
  *= require dataTables/jquery.dataTables


 */
 
 
 

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



@import "table_styles";
@import "forms";
@import "custom";
@import "calendar";
@import "invoices";


@import "main";
@import "jobs";
@import "mainpage";
@import "work_histories";
@import "shifts";

body {
  padding-top: 70px;
// background: url(colorful-triangles-background.jpg) no-repeat center center fixed; 
  // background-color: rgba(0, 0, 0, 0.8);
  background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url(colorful-triangles-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#DataTables_Table_0_filter > label {
  color: white;
}
#DataTables_Table_0_length > label {
  color: white;
}
#admin-nav {
  // background-color: rgba(255,255,255,0.70);
}


#logo > img {
    // max-height: 45px;
    max-width: 180px;
    // margin: 0px;
    // margin-top: 5px;
    vertical-align: middle;
    
    // margin-right: 20px;
}
// a#logo.navbar-brand {
//     padding: 5px;
// }

// #shift-list-nav {
//   align-content:center; 
//   width: 300px;
//   // border:3px solid #8AC007;
//   padding: 10px;
//   // margin-right: 15px;
//   // margin-bottom: 15px;
  
// }
#clock-out-nav {
  float: right;

}


#clock-out-nav > a {
  margin: 8px;
}

span > a.btn-comp {
  background-color: rgb(81, 209, 190);
  border: solid 1px blue;
  text-decoration: none;
  width: 85%;
  height: 95%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  color: black;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.65);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.65);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.65);
  border-color: transparent;
  vertical-align: middle;
  max-height: 75px;
  vertical-align: center;
  padding: 8px;
  height: 450px;
  
}
span.headline > a.btn:hover {
  background-color: rgb(54, 54, 54);
  color: white;
  
}

.hide-this {
  display: none;
}


div.transbox {
  margin: 10px;
  // background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.82);
  // opacity:0.6;
  // filter:alpha(opacity=60); /* For IE8 and earlier */
  max-width: 100%;
  padding: 2px;
  color: white;
}

.light-5 {
  background-color: rgba(87, 105, 113, 0.62);
  color: white;
}
.street {
  background-image: url('street.png');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 100% 100%;
}
// #header-navbar {
//   background:transparent;
// }
// .mynavbar {
//   background-color: rgba(87, 105, 113, 0.9);
//   margin: 0px;
//   padding-bottom: 3px;
// }
.main-box {
  background: rgba(21, 19, 19, 0.62);
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 10px;
  // padding: 15px;
  color: white;
  height: 100%;
}
.main-box-short {
  background: rgba(21, 19, 19, 0.62);
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  height: auto;
}

#users-datatable_length > label {
  font-weight: bold;
}
#users-datatable_wrapper {
  padding: 10px;
  background: rgba(76, 139, 128, 0.67);
}

.dark {
  background: rgba(0, 0, 0, 0.62);
  padding: 5px;
  padding-bottom: 8px;
  color: white;
}
.maindark {
  background: rgba(21, 19, 19, 0.62);
}

.css1 { 
  font-size: 1.0em; 
  color: red;
  
}
.css2 { font-size: 1.4em; color: green}
.css3 { font-size: 1.6em; color: pink; }
.css4 { font-size: 1.8em; color: orange; }

.scroll300 {
  max-height: 300px;
  overflow: auto;
}
.scroll400 {
  max-height: 400px;
  overflow: auto;
}
.scroll500 {
  max-height: 500px;
  overflow: auto;
}
.scroll800 {
  max-height: 800px;
  overflow: auto;
}
