/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 

  *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
  

  *= require jquery-ui
  *= require jquery.atwho
  *= require fullcalendar
  
  *= require simple_calendar
  *= require dataTables/jquery.dataTables


 */
 
 
 

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



@import "table_styles";
@import "forms";
@import "custom";
@import "calendar";
@import "invoices";


@import "main";
@import "jobs";
@import "mainpage";
@import "work_histories";
@import "shifts";

body {
  // font-family: 'Titillium Web', Geneva, sans-serif;
  padding-top: 70px;
  background-color: #e3e4e4;
  // background: transparent;
  // background: url(colorful-triangles-background.jpg) no-repeat center center fixed;
  // background-color: rgba(255, 255, 255, 0.8);
  // background-image:
  //       linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
  //       url(colorful-triangles-background.jpg) no-repeat center center fixed;
  //       // url(InclusStaff-twitter-cover.png) no-repeat center center fixed; 
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background: url(autumn_blur.jpg) no-repeat center center fixed;
}
#main-wrapper {
  margin-top: -20px;
  height: 100%;
  
  padding: 5px;
  
}


.dataTables_wrapper > label {
  color: black;
}


#logo > img {
    // max-height: 45px;
    max-width: 180px;
    // margin: 0px;
    // margin-top: 5px;
    vertical-align: middle;
    
    // margin-right: 20px;
}

.hide-this {
  display: none;
}


div.transbox {
  margin: 10px;
  // background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.82);
  // opacity:0.6;
  // filter:alpha(opacity=60); /* For IE8 and earlier */
  max-width: 100%;
  padding: 2px;
  color: white;
}

.light-5 {
  background-color: rgba(87, 105, 113, 0.62);
  color: white;
}
.street {
  background-image: url('street.png');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-size: 100% 100%;
}
#header-navbar {
  // background:transparent;
  // background: rgba(0, 0, 0, 0.82);
  border: none;
  background: white;
  // background-image: url('street.png');
  a {
    color: black;
  }
  a:hover {
    color: gray;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: rgb(51, 51, 51);
    white-space: nowrap;
  }
  .list-group-item {
    color: black;
  }
}
#footer-navbar {
  
  // background:transparent;
  background: rgba(0, 0, 0, 0.82);
  // background-image: url('street.png');
  a {
    color: white;
  }
  a:hover {
    color: gray;
  }
}
// .mynavbar {
//   background-color: rgba(87, 105, 113, 0.9);
//   margin: 0px;
//   padding-bottom: 3px;
// }
.main-box {
  background: rgba(21, 19, 19, 0.62);
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 10px;
  // padding: 15px;
  color: white;
  height: 100%;
}
.main-box-short {
  background: rgba(21, 19, 19, 0.62);
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  height: auto;
}

#users-datatable_length > label {
  font-weight: bold;
}
#users-datatable_wrapper {
  padding: 10px;
  background: rgba(76, 139, 128, 0.67);
}

.dark {
  // background: rgba(0, 0, 0, 0.62);
  // padding: 5px;
  // padding-bottom: 8px;
  // color: white;
}
.maindark {
  background: rgba(21, 19, 19, 0.62);
}

.css1 { 
  font-size: 1.0em; 
  color: red;
  
}
.css2 { font-size: 1.4em; color: green}
.css3 { font-size: 1.6em; color: pink; }
.css4 { font-size: 1.8em; color: orange; }

.scroll300 {
  max-height: 300px;
  overflow: auto;
}
.scroll400 {
  max-height: 400px;
  overflow: auto;
}
.scroll500 {
  max-height: 500px;
  overflow: auto;
}
.scroll800 {
  max-height: 800px;
  overflow: auto;
}
.btn.btn-primary {
  background-color: rgba(21, 19, 24, 0.86);
}
.btn.btn-primary:hover {
  background-color: rgba(21, 19, 24, 0.16);
  color: black;
}

.color {
  background-color: rgba(21, 19, 24, 0.56);
}
.nav-tabs > li > a {
    background-color: rgba(17, 17, 17, 0.77);
    color: white;
    font-weight: bold;
}
.nav-tabs > li > a:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: black;
    
}
.navbar.navbar-default {
  border: none;
  font-family: 'Titillium Web', Geneva, sans-serif;
  // background-color: rgb(230, 230, 230);
  // height: 75px;
  // margin-bottom: 1px;
}
.pad {
  padding: 8px;
}
.tab-pane {
  padding-top: 10px;
}
h1 {
  font-family: 'Titillium Web', Geneva, sans-serif;
}