/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.


  *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
  *= require jquery.atwho
  *= require simple_calendar
  *= require dataTables/jquery.dataTables
*/




@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";



@import "table_styles";
@import "forms";
@import "custom";
@import "calendar";
@import "invoices";


@import "main";
@import "jobs";
@import "mainpage";
@import "work_histories";
@import "shifts";
@import "companies";


  
body {
  // font-family: 'Titillium Web', Geneva, sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 100%;
  background: #DEE0E8;
  // background-image:
  //       // linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  //       url(InclusStaff-linkedin-cover.png)  no-repeat center center fixed;
  // background-image:
  //       // linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  //       url(InclusStaff-linkedin-cover.png)  no-repeat center center fixed;
}
#main-wrapper {
  // margin-top: -20px;
  // padding-top: 15px;
  padding-bottom: 70px;
  // margin-bottom: 70px;
  
}

#logo > img {
    // max-height: 45px;
    max-width: 180px;
    // margin: 0px;
    // margin-top: 5px;
    vertical-align: middle;

    // margin-right: 20px;
}

.hide-this {
  display: none;
}


.scroll300 {
  max-height: 300px;
  overflow: auto;
}
.scroll400 {
  max-height: 400px;
  overflow: auto;
}
.scroll500 {
  max-height: 500px;
  overflow: auto;
}
.scroll800 {
  max-height: 800px;
  overflow: auto;
}


// ///////////////////////////////////////
// BUTTONS
.btn.btn-primary {
  background-color: rgba(21, 19, 24, 0.86);
  color: white;
}
.btn.btn-primary:hover {
  background-color: rgba(21, 19, 24, 0.16);
  color: black;
}

.color {
  background-color: rgba(21, 19, 24, 0.56);
}

// ///////////////////////////////////////
// NAVBAR
.navbar.navbar-default {
  // border: none;
  font-family: 'Titillium Web', Geneva, sans-serif;
  // background-color: rgb(230, 230, 230);
  height: 65px;
  // font-height: 2em;
  .container {
    margin-top: 10px;
    // margin-bottom: 5px;
  }
  
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 28px;
    line-height: 20px;
    height: 50px;
    margin-right: 25px;
}
.nav-tabs > li > a {
    background-color: rgba(17, 17, 17, 0.77);
    color: white;
    font-weight: bold;
}
.nav-tabs > li > a:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: black;

}
#bs-example-navbar-collapse-1 {
  background-color: rgb(248, 248, 248);
  a {
    color: black;
    // background-color: rgb(218, 218, 218);
  }
  a:hover, a:active, a:focus {
    background-color: rgb(217, 237, 247);
  }
}
#bs-example-navbar-collapse-1 > ul > li.dropdown.open > ul > li:hover {
  background-color: rgb(217, 237, 247);
}

#nav-logo {
  font-weight: bold;
}
.pad {
  padding: 8px;
}
.tab-content {
  padding-top: 10px;
  
}
h1 {
  font-family: 'Titillium Web', Geneva, sans-serif;
}





// JUST NOT DEALING WITH THE FOOTER ATM
// .footer {
//   margin-bottom: 0px;
//   margin-top: 10px;
// }
// .navbar-static-bottom {
//     border-radius: 0;
//     z-index: 1000;
//     border-width: 0 0 1px;
//     padding-right: 0;
//     padding-left: 0;
//     margin: 20px 0 0;
// }
#ui-datepicker-div {
  background-color: white;
}

.twitter-follow-button {
  margin-top: 8px;
}
.social-media-buttons {
  margin-right: 20px;
}

.company-footer {
  height: 40px;
}