/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
 *= require jquery.atwho
 *= require simple_calendar
 *= require dataTables/jquery.dataTables
 *= require bootstrap-datepicker3
 *= require selectize
 *= require selectize.bootstrap3
 */

$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 16px;
$light-green: rgba(205, 243, 201, 0.88);
$blue: #2A5F79;
$trans-white: rgba(255, 255, 255, 0.45);

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "table_styles";
@import "forms";
@import "custom";
@import "calendar";
@import "invoices";

@import "main";
@import "jobs";
@import "mainpage";
@import "work_histories";
@import "shifts";
@import "companies";
// @import "charts";
@import "admin_home";
@import "sidebar";
@import "conversations";
@import "timesheets";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);

body {
  // background-color: rgba(0, 0, 0, .2);
  background-image: url(white-wood.jpg);
  padding-top: 70px;
  // padding-bottom: 80px;
  height: 100%;
  -webhkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

.form-control {
  border: 2px solid #C5C5C5;
  box-shadow: none;
  border-radius: 0.25em;
  -webkit-appearance: none;
  color: #555459;
  height: auto;
  line-height: normal;
  margin: 0 0 0.5em;
  font-size: 1em;
  padding: .45em .75em .55em;

  &:hover, {
    border-color: #2780f8;
  }

  &:focus {
    border-color: #2780f8;
    box-shadow: 0 0 7px rgba(39,128,248, 0.15);
  }
}

.btn {
  // background: #2ab27b;
  background: rgb(90, 175, 164);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2em;
  font-weight: 900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: none;
  border-radius: .25em;
  box-shadow: none;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 8px 14px 9px;
  font-size: 15px;

  &:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    outline: none;
  }

  &:active:focus {
    outline: none;
  }

  &.btn-lg {
    font-size: 1.05em;
    padding: 10px 22px 14px;
  }

  &.btn-default {
    background: #fbfbfa;
    border: 1px solid #C7CACD;
    color: #555459;
    font-weight: 700;

    &:hover, &:focus {
      color: #439fe0;
      background-color: #fbfbfa;
      border-color: #C7CACD;
    }
  }

  &.btn-success {
    background: #2ab27b;
    border: none;
    color: #fff;

    &:active {
      background: darken(#2ab27b, 10%);
    }
  }
}



#navlogo {
  vertical-align: middle;
}

.hide-this {
  display: none;
}


.scroll300 {
  max-height: 300px;
  overflow: auto;
}
.scroll400 {
  max-height: 400px;
  overflow: auto;
}
.scroll500 {
  max-height: 500px;
  overflow: auto;
}
.scroll800 {
  max-height: 800px;
  overflow: auto;
}


// ///////////////////////////////////////
// BUTTONS
.btn.btn-primary {
  background-color: rgba(21, 19, 24, 0.86);
  color: white;
}
.btn.btn-primary:hover {
  background-color: rgba(21, 19, 24, 0.16);
  color: black;
}

.color {
  background-color: rgba(21, 19, 24, 0.56);
}

// ///////////////////////////////////////
// NAVBAR

.navbar.navbar-default {
  margin-bottom: 5px;
  // border: none;
  font-family: 'Lato', sans-serif;
  // background-color: rgb(230, 230, 230);
  height: 75px;
  // font-height: 2em;
  .container {
    margin-top: 10px;
    
  }

}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 28px;
  line-height: 20px;
  height: 50px;
  margin-right: 25px;
}
.nav-tabs > li > a {
  background-color: rgba(17, 17, 17, 0.77);
  color: white;
  // font-weight: bold;
}
.nav-tabs > li > a:hover {
  background-color: rgba(255, 255, 255, 0.67);
  color: black;

}
#bs-example-navbar-collapse-1 {
  background-color: rgb(248, 248, 248);
  a {
    color: black;
    // background-color: rgb(218, 218, 218);
  }
  a:hover, a:active, a:focus {
    background-color: rgb(217, 237, 247);
  }
}
#bs-example-navbar-collapse-1 > ul > li.dropdown.open > ul > li:hover {
  background-color: rgb(217, 237, 247);
}




.pad {
  padding: 8px;
}
.tab-content {
  padding-top: 10px;

}
h1 {
  font-family: 'Lato', sans-serif;
}
.logo {
  height: 60px;
  padding: 2px;
}
.logo-img {
  max-height: 50px;
}
.agency-logo {
  max-height: 150px;
}




// JUST NOT DEALING WITH THE FOOTER ATM
.footer {
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 80px;
  background-color: $trans-white;
}
// .navbar-static-bottom {
//     border-radius: 0;
//     z-index: 1000;
//     border-width: 0 0 1px;
//     padding-right: 0;
//     padding-left: 0;
//     margin: 20px 0 0;
// }
#ui-datepicker-div {
  background-color: white;
}

.twitter-follow-button {
  margin-top: 8px;
}
.social-media-buttons {
  margin-right: 20px;
}

.company-footer {
  height: 40px;
}
td.day:hover {
  cursor: pointer;
  background-color: #ccc;
}
.gravatar {
  // float: left;
  display: inline-block;
  margin: 5px;
}
.user-header {
  margin-left: 15px;
  display: inline-block;
  text-align: right;
}
.user {
  max-width: 284px;
  min-width: 104px;
  padding: 8px;
  .user-address {
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 5px;
  }
}
.user-actions {
  // float: right;
  margin: 12px;
  // margin-right: 34px;

}
.work_history {
  max-width: 284px;
}



.wood {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(255, 255, 255, 0.45) 
    ),
    /* bottom, image */
    url(wood-bg.jpg);
}


.order-alerts {
  max-width: 300px;
}

// SEARCH FORMS
.search-box {
  max-width: 90%;
  margin: 10px;
}
.btn.inline {
      vertical-align: top;
}