.conversation-body {
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.875em;
    width: auto;
    margin-left: 60px;
    padding: 8px 10px;
    position: relative;
}
.conversation-item.item-right .conversation-body {
  background: rgba(0, 0, 0, 0.5);
}

// BUTTONS

.btn-sm { 
  padding:2px;
}
.btn-primary {
  color: #fff;
  background-color: rgba(34, 69, 63, 0.75);
  border:none;
  /* border-color: #357ebd; */
}
.btn-primary:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.87);;
  border:none;
  /* border-color: #357ebd; */
}

// .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
//   color: #fff;
//   background-color: #3071a9;
//   border:none;
// }


.notes {
  height: auto;
  width: 100%;
  min-width: 100%;
}
.white {
  color: white;
}
.btn.fill { 
  margin:2px;
}
.badge.badge-success { 
  color: black;
}
.btn.btn-danger {
  padding: 5px;
}
.btn {
  -webkit-border-radius: 4px;
}
.btn-success { 
  color: black;
  font-weight: bold;
}
a {
  text-decoration: none;
}

// PANELS
div.panel.panel-primary {
  border-color: #fff;
  // border-color: rgba(34, 69, 63, 0.95);
    .panel-heading {
    // color: #fff;
    background-color: rgba(34, 69, 63, 0.75);
    border-color: #fff;
    // border: none;
    
  }
}
.list-group-item-success {
  background-color: rgba(34, 69, 63, 0.75);
}