$font-stack:    Helvetica, sans-serif;
$primary-color: rgba(0, 0, 0, 0.15);

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

// PANELS
div.panel.panel-primary {
  border-color: #fff;
  // border-color: rgba(34, 69, 63, 0.95);
    .panel-heading {
    // color: #fff;
    background-color: rgba(34, 69, 63, 0.75);
    border-color: #fff;
    // border: none;
    
  }
}
.list-group-item-success {
  background-color: rgba(34, 69, 63, 0.75);
}
.red {
  color: red;
}
.carousel-image {
  // width: 400px;
  margin:auto;
  // height: 400px;
  opacity: 0.5;
}

div.comment {
  margin: 5px;
  padding: 5px;
  max-width: 600px;
  border: solid 2px white;
}
#new_comment {
  max-width: 600px;
}
div.comments {
  
  max-width: 600px;
  border: solid 2px black;
}

// h3 {
//     border-bottom: none;
//     padding-left: 5px;
//     margin-bottom: 20px;
//     margin-top: 20px;
// }
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: none;
    /* border-bottom: 1px solid rgb(238, 238, 238); */
}
.pointer:hover {
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.15);
    /* border-bottom: 1px solid rgb(238, 238, 238); */
}
// a:hover, a:focus {
//   color: #2a6496;
//   text-decoration: none; 
//   cursor: pointer;
// }
.img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}

.bottom {
  margin-bottom: 12px;
}
.orders-count {
  background-color: black;
  color: white;
  padding: 3px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
a.button {
  text-decoration: none;
}

a.button:hover {
  i {
    color: black;
  }
}

.gold {
  color: gold;
}
#map {
  border: solid 3px black;
  margin: auto;
}

.pricing {
  
  padding: 15px;
  background-color: #ccc;
  margin: 5px;
  max-width: 50%;
}
.open-order {
  // max-width: 400px;
  // height: 60px;
  margin: 3px;
  margin-bottom: 5px;
  display: inline-block;
  span {
    margin-right: 3px;
  }
}
.grey {
  background-color: #ccc;
}
.owner-totals {
  background-color: #ccc;
  padding: 5px;
  display: inline-block;
  // width: 100%;
}
.btn.btn-warning {
  color: black;
}
li.dashboard {
  a {
    border: solid 2px #ccc;
  }
  i {
    color: red;
  }
  a:hover {
    background-color: red;
  }
}

// ON COMPANY_ADMIN SHOW PAGE
.managed-order {
  padding: 10px;
  background-color: #ccc;
}

.shift-employees {
  background-color: #ccc;
  padding: 5px;
  margin-right: 10px;
}
.order-row {
  vertical-align: bottom;
}