.simple_form {
  // background: rgba(21, 19, 19, 0.62);
  padding: 15px;
  max-width: 900px;
  // color: black;
  margin: auto;
}

.half {
  width: 50%;
  margin: 5px;
}
.fill {
  width: 100%;
  horizonal-align: middle;
}
.form-inline > label {
  margin-right: 10px;
}

#new_work_history > div:nth-child(5) > div.col-md-6 > div {
  width: 100%;
  horizonal-align: middle;
}
#new_order {
  background:transparent;
}
.black {
  color: black;
}

.mobile_timeclock {
  text-align: left;
}
.mobile_timeclock_input {
  horizonal-align: middle;
}
.needed_by {
  text-align: left;
}

.employee-convo-form {
  background: rgb(227, 229, 230);
  padding: 8px;
}

#q_notes_or_title_or_company_name_cont {
  width: auto;
  margin: 1px;
}

