// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.invoice {
    padding: 5px;
    margin: 5px;
    border: solid 3px black;
}
.paid {
    background: rgba(107, 226, 107, 0.38);
    color: black;
}
.unpaid {
    background: rgba(214, 66, 9, 0.38);
    color: black;
}