#front-headline {
    margin:auto;
    // border: solid 8px green;
    padding: 5px;
    min-height: 200px;
    // background-image:
    //     linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    //     url(InclusStaff-twitter-cover.png);
    
}
img.feature-pic {
    // position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: auto;
    max-width: 90%;
    max-height: 200px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    //  margin:auto;
    // opacity: 0.7;
    // opacity: 0.5;
    
}
.box250 {
    max-height: 250px;
}
#main-wrapper {
    min-height: 600px;
  // padding-top: 70px;
    background: white;
  background: url(street.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#about-wrapper {
  min-height: 300px;
  background: url(InclusStaff-twitter-cover.png) no-repeat center center fixed; 
}
#macbook {

  background: url(macbook.jpg) no-repeat center center fixed; 
  background-size: contain;
  background-origin: content-box;
}
#main-title {
    
    // background-image:
    //     linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    //     url(colorful-triangles-background.jpg);
    // background: url(street.png)  
    // background: rgba(21, 19, 19, 0.62);
}