#timesheet-tools {
    // float: right;
}

#timesheet-tools > div > button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px;
    vertical-align:baseline;
    background-color: transparent;
    color: rgb(43, 182, 163);
    
}
#timesheet-tools > div > button > span > i.fa.fa-times.fa-stack-1x {
    border: 2px;
    border-color: rgb(43, 182, 163);
}
#timesheet-tools > div > button > span > i.fa.fa-check.fa-stack-1x {
    border: 2px;
    border-color: rgb(43, 182, 163);
}


// #timesheet-tools > div > button > span