#front-headline {
    margin:auto;
    // border: solid 8px green;
    padding: 5px;
    
}
img.feature-pic {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    // opacity: 0.7;
    // opacity: 0.5;
    
}
