#front-headline {
    margin:auto;
    // border: solid 8px green;
    padding: 5px;
    min-height: 200px;
    // background-image:
    //     linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    //     url(InclusStaff-twitter-cover.png);
    
}
img.feature-pic {
    // position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: auto;
    max-width: 90%;
    max-height: 200px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    //  margin:auto;
    // opacity: 0.7;
    // opacity: 0.5;
    
}
.box250 {
    max-height: 250px;
}
// #main-wrapper {
//     min-height: 600px;
//   // padding-top: 70px;
//     // background: white;
// //   background: url(street.png) no-repeat center center fixed; 
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
#about-wrapper {
  height: 100%;
  width: 100%;
  background: url(InclusStaff-twitter-cover.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#macbook {

  background: url(macbook.jpg) no-repeat center center fixed; 
  background-size: contain;
  background-origin: content-box;
}
.panel-collapse{
    background: white;
}
.home-button {
    background-color: black;
    float: right;
    margin: 3px;
}
.sign-up-info {
    min-height: 250px;
    padding: 5px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.49);
    -webkit-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    
}
.bold {
    font-weight: bold;
}
.home-logo {
    width: 100%;
    // float: left;
    // margin-right: 8px;
    margin: auto;
    margin-bottom: 10px;
}
.metal {
    font-family: 'Titillium Web', Geneva, sans-serif;
}
.lighterbox {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 10px;
}
input.file-field {
    font-family: 'Titillium Web', Geneva, sans-serif;
    display: inline;
}
.fill-pic {
    width: 100%;
}
.user-icon {
    width: 35px;
}
.payroll-boxes {
    min-height: 300px;
    
}
.bottom {
    vertical-align: -50px;
}
.label-fill {
    min-width: 100%;
    margin: 8px;
    padding: 8px;
}