

#order_notes {
    width: 100%;
}


.center {
    margin: auto;
    max-width: 95%;

    
}
.center2 {
    margin: auto;
    max-width: 45%;

    
}
.bg-clear {
    background: transparent;
}
.bg-dark {
    background: rgba(0, 0, 0, 0.41);
}
.bg-white {
    background: white;
}

.skill-list {
   
}

// BUTTONS
.btn.clear-btn {
    // padding: 2px;
    color: rgb(43, 182, 163);
    font-color: rgb(43, 182, 163);
    background: transparent;
    .hover {
    background: rgba(0, 0, 0, 0.41);
}
//     -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.0);
// 	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.0);
// 	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.0);
}

.btn.nav-btn {
    // padding: 2px;
    color: rgb(43, 182, 163);
    font-color: rgb(43, 182, 163);
    background: transparent;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.0);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.0);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.0);
}
.btn.job-button {
    background: rgb(62, 101, 93);
    width: 100%;
}

.even {
    padding: 5px;
    background: rgba(91, 129, 129, 0.41);
    
}
.even-top {
    border-bottom: solid 2px black;
}

// DATATABLES
// div.dataTables_scrollHead > div > table > thead {
//     background-color: rgb(26, 84, 97);
//     color: white;
// }

// #orders-datatable2 > thead {
//     background-color: rgba(169, 68, 66, .50);
//     color: rgb(169, 68, 66);
// }


// On Timesheet Table
.btn.btn-tiny {
    i {
        margin: 1px;
    }
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-color: transparent;
    padding: 2px;
    background-color: transparent;
}
#timesheets-datatable > tbody > tr.item-left > td:nth-child(3) > a:nth-child(1) > i {
    cursor: pointer;
}

.btn {
  /* border: none; */
  padding: 6px 12px;
  /* -webkit-border-radius: 4px; */
  -moz-border-radius: 4px;
  /* border-radius: 4px; */
   -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.47); 
//   -moz-box-shadow: 1Spx 1px 1px 0px rgba(0, 0, 0, 0.47);
  /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.47); */
  border-c: 4px solid;
  -webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  outline: none;
}
.middle {
    width: 50%;
    margin: 0 auto;
}

.b {
    border-radius: 5px;
    // vertical-align:baseline;
    // height: 100%;

    // border: solid 3px rgb(43, 182, 163);

    padding: 3px;
    // vertical-align:middle;
    // background-color: white;
    background-color: rgba(43, 182, 163, .7);
    color: black;
    text-decoration: none;

    // color: rgb(43, 182, 163);
    
}
.b:hover {
    cursor: pointer;
    text-decoration: none;
    // vertical-align:baseline;
    // height: 100%;
    // padding: 1px;
    // vertical-align:middle;
    background-color: rgba(43, 182, 163, .8);
    color: blue;
    // color: rgb(43, 182, 163);
    
}
.blue-wave {

}


img.pic-box {
    // max-width: 100%;
    // overflow: hidden;
    display: block;
    max-width:300px;
    max-height:300px;
    border: solid 2px black;
    width: auto;
    height: auto;
}
img.pic {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    opacity: 0.7;
    // opacity: 0.5;
    
}
.trans-dark {
    background-color: rgba(87, 105, 113, 0.72);
    
    
    
}

// .small-header {
//     max-width: 60%;
// }


h1, h2, h3, h4, h5, h6 {	
    // font-family: 'Open Sans', Geneva, sans-serif;
    font-weight: 400;
    border: none;
}
// h1 {

//     font-family: 'Titillium Web', sans-serif;
//     font-weight: bold;
    
// }
// h2 {
//     padding: 1px;
//     margin: 2px;
// }

// .main-box h2 {
//     margin: 0 0 15px -20px;
//     padding: 5px 0 5px 20px;
//     border-left: 0px solid rgb(194, 194, 194);
// }
.list-group {
    color: black;
}
#nav-col {
    background-color: rgba(0, 0, 0, 0.72);
    // margin-top: 8px;
}
.well {
    // background-color: rgba(0, 0, 0, 0.72);
    // color: white;
}



/////////// BOXES ///////////////////
.main-boxes {
    background: rgba(21, 19, 19, 0.62);
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    
    padding: 10px;
    color: white;
    
    overflow: hidden;
    height: 100%;
    
    h5 {
        // font-weight: bold;
        // margin: 2px;
    }
    hr {
        margin: 10px;
    }
    span.badge {
        margin:3px;
        padding: 4px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
    }
    span.center {
        margin-bottom:5px;
        margin-left:3px;
        margin-right:3px;
    }
    span.text-muted {
        font-weight: bold;
    }

}

.row200 {
    height: 200px;
    
    div.main-box {
        padding: 10px;
        overflow: auto;
    }
}
.row300 {
    height: 300px;
    
    div.main-box {
        padding: 10px;
        overflow: auto;
    }
}
.row150 {
    height: 150px;
    div.main-box {
        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    h5 {
        margin: 4px;
    }
    a.btn.btn-success.fill {
        
        color:black;
    }
    
    a.btn.btn-primary.fill {
        
        padding:3px;
    }
    hr {
        margin: 10px;
    }
    span.badge {
        
        color: black;
        margin: 3px;
      
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}
#applicants {
    
    overflow: auto;
    margin-bottom: 3px;
}
// #applicants > a {
//     padding: 3px;
// }
.list-group-item {
  position: relative;
  display: block;
//   padding: 5px 8px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.scroll {
    overflow: auto;
}
// .list-group {
//     // background-color: rgba(0, 0, 0, 0.65);
//     // color: white;
//     padding: 3px;
//     margin: 3px;
// }
// .list-group-item-heading {
//     margin: 3px;
    
// }
.border {
    border: solid 2px rgba(0, 0, 0, 0.65);
}

.main-box {
    h3{
        margin: 2px;
        margin-bottom: 4px;
    }
}

// li.list-group-item {
//     color: black;
// }

// TABS

#content-wrapper > div > ul > li {
    background: rgba(0, 0, 0, 0.65);
    
    
}
#content-wrapper > div > ul {
    background: rgba(0, 0, 0, 0.65);
    
}


.lightbox {
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
}
.green {
    color: green;
}

.autumn-blur {
    background: url(autumn_blur.jpg) no-repeat center center fixed; 
    // color: white;
}

.sixty {
    opacity:0.6;
}

ul > li {
    text-decoration: none;
}

.aca-link {
    align: right;
    
}
.nav-brand {
    font-size: 30;
    line-height: 30;
}
.pdf {
    background: url(pdf19.png) no-repeat center center fixed; 
    // color: white;
}