// div.col-lg-4.col-sm-3.col-xs-6 > div > div > a {
//  background-color: rgba(0, 0, 0, 0.17);

// }
// div.scroll {
//       position: relative;
//     //   height: 500px;
//   }
//   ul.nav-pills {
//     //   top: 10px;
//     margin-top: 15px;
    
//       position: fixed;
//       background-color: #1E88E5;
//   }
//   div.col-sm-9 div {
//     //   height: 250px;
//       font-size: 18px;
//       color: black;
//     //   align-content: right;
//   }
//   #section1 {color: #fff; background-color: #1E88E5;}
//   #section2 {color: #fff; background-color: #673ab7;}
//   #section3 {color: #fff; background-color: #ff9800;}
//   #section41 {color: #fff; background-color: #00bcd4;}
//   #section42 {color: #fff; background-color: #009688;}
  
//   @media screen and (max-width: 810px) {
//     .order {
//         margin-left: 150px;
// //     }
// //   }
  
  
//  .order {
//     //  margin-left: 150px;
//   // border-top: 3px solid black;
//   // color: #000;
//   // background-color: black;
//   max-width: 85%;
//   padding: 15px;
  
//   &:target {
//       background-color: #D97B2E;

//   }
// }

