.break-box {
    padding: 5px;
    background: black;
    color: white;
}
#remove-breaks-btn {
    background: black;
    color: red;
}
.break-list {
    width: 50%;
}
.old-comment {
    background: gray;
}