.break-box {
    padding: 3px;
    
    // background: rgba(0,0,0,0.25);
    // color: white;
}
#remove-breaks-btn {
    // background: black;

    // color: red;
}
.break-list {
    // max-width: 50%;
}
.old-comment {
    background: gray;
}
#shift-break-box {
//   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
}
#start-break-btn {
    padding: 2px;
}
// .timesheet {
//     color: black;
//     a {
//         color: black;
//     }
//     a:hover {
//         opacity: 50%;
//     }
// }

#collapseShift_871 > li > p > a {
    text-decoration: none;
}

.shift-list {
    list-style: none;
}