.simple-calendar {
  tr {
    height: 100px;
    max-height: 100px;
    overflow: auto;
  }
    // background-color: black;
  
  .day {
    vertical-align: text-top;
    text-align:right;
    border: solid 1px black;
    div {
      margin-top: 5px;
      text-align:center;
      font-weight: bold;
      font-size: .8em;
    }
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: solid 2px black;
  }
  .past {
      background-color: rgba(128, 128, 128, 0.59);
  }
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    
    max-height: 100px;
    background-color: rgba(255, 255, 0, 0.59);
  }
  .cal-date {
    vertical-align:25px;
    
    background-color: rgba(128, 128, 128, 0.59);
  }
}

