/*#new_user {*/
/*    width: 75%;*/
/*    alignment-baseline: center;*/
/*}*/
/*#edit_user_registration {*/
/*    width: 75%;*/
/*    position: center;*/
/*}*/
.simple_form {
    margin: auto;
    width: 60%;
    border:3px solid #8AC007;
    padding: 10px;
}

/*.body {*/
/*    background-color: lightslategrey;*/
/*    border-color: rgba(73, 84, 95, 0.86);*/
/*    color: #333;*/
/*    font-family: verdana, arial, helvetica, sans-serif;*/
/*    font-size: 13px;*/
/*    line-height: 18px;*/
/*    padding-left: 20px;*/

/*}*/

/*.body {*/
/*    background-color: rgba(144, 82, 18, 0.42);*/
    
/*}*/


/*.body > header {*/
/*    background-color: lightslategrey;*/
    
/*}*/





   