<div class='main-box' data-behavior='timesheet-list'>
    <h3><strong>Pending Timesheets</strong></h3>
    <%= render @pending_timesheets %>
</div>
<% if @approved_timesheets.any? %>
<div class='main-box' data-behavior='timesheet-list'>
    <h3 class='text-right'><strong>Approved Timesheets</strong></h3>
    <%= render @approved_timesheets %>
</div>
<% end %>













