<div class="mainpage pad">
	<h1 class='bold'>Timesheets </h1>
	<h3 class='text-right text-muted'><% if @timesheets.current_week.any? %><small>Week Ending <%= @timesheets.current_week.first.week_ending %></small> <% end %></h3>
	<hr>
	<%= render "admin/timesheets/search" %>
	<div class='c' data-behavior='timesheet-list'>
		<div class=''>
			<% if @timesheets.approved.any? %>
			
			<%= render "admin/timesheets/table", timesheets: @timesheets %>
			<% else %>
			<h3>No timesheets to display.</h3>
			<% end %>
		</div>
	</div>
</div>