
    <div class='col-md-12'>
        <%= link_to(admin_timesheets_path(@timesheets.current_week, format: :csv), class: 'btn btn-primary pull-right') do %>
          		<i class="fa fa-file-excel-o fa-lg"></i> Export
        <% end %>
        <h2 class='text-center white'>Timesheets</h2>
        
<div class='col-md-12'>
    <% if @timesheets.present? %>
    
    <%= render 'admin/timesheets/table', timesheets: @timesheets %>
    
    <% else %>
    <h3>No timesheets to display.</h3>
    <% end %>

</div>






</div>


