
<div class='col-lg-12' data-behavior='timesheet-list'>
    
    <h3 class='text-center'><strong>Pending Timesheets</strong></h3>
    <%= render(@pending_timesheets.current_week) || "There are no pending timesheets." %>
    
   
</div>


<div class='col-lg-12' data-behavior='timesheet-list'>
    <h3 class='text-center'><strong>Approved Timesheets</strong></h3>
    <%= render(@approved_timesheets.current_week) || "There are no approved timesheets." %>
    
</div>














