
    <div class='col-lg-12 main-box'>
        <h2 class='text-center'>Timesheets</h2>
<div class='well'>
    <%= render 'admin/timesheets/table' %>

<%= link_to(admin_timesheets_path(@timesheets, format: :csv), class: 'btn btn-primary') do %>
  		<i class="fa fa-file-excel-o fa-lg"></i> Export
<% end %>
</div>






</div>


