<div class='col-md-12 lightbox-long'>
 <h1>Last Week's Timesheets </h1>
 <div class='btn-group pull-right' style='margin-bottom:10px;'>
  <%= link_to(last_week_admin_timesheets_path(@timesheets, format: :csv), class: 'btn btn-primary') do %>
		 <i class="fa fa-file-excel-o fa-fw"></i> Export Last Week CSV
		<% end %>
 </div>
 
   <div class='col-md-10 well'>
   
  	<%= render 'admin/timesheets/table', timesheets: @timesheets.order(state: :desc) %>
   </div>
    
   
</div>