<div class='col-md-12 lightbox-long'>
 <h1>Last Week's Timesheets</h1>
   <div class='col-md-10'>
   
  	<%= render 'admin/timesheets/table', timesheets: @timesheets.order(state: :desc) %>
   </div>
    <div class='col-md-2'>
     <%= link_to(last_week_admin_timesheets_path(@timesheets, format: :csv), class: 'btn btn-primary') do %>
			  					<i class="fa fa-file-excel-o fa-lg"></i> Export CSV
			  				
			  				<% end %>
    </div>
   
</div>