<div class="col-md12 mainpage shadow">
    <% if @archived_jobs.any? %>
<%= div_for @archived_jobs.distinct do |job| %>
    <h1><%= job.employee.name %> - <%= job.state %></h1>
     <%= render job.comments %>
<% end %>  
<% else %>
<h2>No Inactive Jobs</h2>
<% end %>


</div>

