<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">GoRails Forum</a>
    <ul class="nav navbar-nav pull-right">
      <% if admin_signed_in? %>
        <li class="nav-item btn-group" data-behavior="events">
          <a class="dropdown-toggle nav-link" type="button" data-behavior="events-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "bell" %> <span data-behavior="event-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="event-items">
            <!--
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            -->
          </div>
        </li>

      <% end %>
    </ul>
</nav>