
<div class="alert alert-info fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h1 class='text-center'>
      Welcome to the Owner's Dashboard!
  </h1>
  <hr>
  <p class='text-center lead'>This gives you an overview of your entire company. Quickly view current billings, open invoices & top performers. </p>
</div>