<div class="alert alert-danger fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  
 
 &nbsp;  <%= link_to "<span class='black'><i class='fa fa-edit' data-toggle='tooltip' data-placement='right' title='Set ACA periods & Sales Goal'></i></span>".html_safe, edit_agency_path(@current_agency), class: 'btn btn-clear pull-right' %>
</div>
