<div class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h1 class='text-center'>
      Welcome to the Payroll Dashboard!
  </h1>
  <hr>
  <p class='text-center lead'>Here you can easily view timesheets, new employees, manage approvals & export payroll hours.</p>
 
</div>