<div class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h1 class='text-center'>
      Welcome to the Recruiting Dashboard!
  </h1>
  <p class='text-center lead'>Here you can easily see open job orders, available candidates, job approvals, applications & more!</p>
 
</div>