<div class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h1 class='text-center'>
      Welcome to the Sales Dashboard!
  </h1>
  <hr>
  <p class='text-center lead'>Here you can easily view companies, job orders, pending job approvals & more!</p>
 
</div>