
<nav class="navbar navbar-default footer">
  <div class="container metal">
  	<p class="navbar-text navbar-right">
    IncluStaff 
     <small>&copy; 2016</small>
    </p>
  	<% if signed_in? %>
  		<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= @current.name %></a></p>
  	<% end %>
    	
  </div>
</nav>