
<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
  	<p class="navbar-text navbar-left">
     <a href="http://www.inclustaff.com/" target="_blank">IncluStaff </a>
     <small>&copy; 2016</small>
    </p>
  	<% if signed_in? %>
  		<p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= @current.name %></a></p>
  	<% end %>
    	
  </div>
</nav>